section.advantages-block
	.layout
		.advantages
			.advantages__item
				.advantages__icon.icon-1
				.advantages__title Экономия до 910 000 руб. при&nbsp;покупке квартиры
				.advantages__text Бесплатно оформим для вас налоговый вычет.  Поможем вернуть каждому из&nbsp;супругов до 260 000 рублей за&nbsp;покупку жилья + 390 000 рублей за проценты по ипотеке
				a(href="" data-form-type=".nalog-economy-form").advantages__link Узнать подробности
			.advantages__item
				.advantages__icon.icon-2
				.advantages__title Виртуальная экскурсия по&nbsp;вашей будущей квартире
				.advantages__text В нашем офисе вы сможете виртуально посетить квартиры даже в&nbsp;недостроенных домах
				button.advantages__button.advantages__excursion Записаться на экскурсию
			.advantages__item
				.advantages__icon.icon-3
				.advantages__title Подарки от партнеров на&nbsp;сумму&nbsp;до 150 000 руб.
				.advantages__text Выберите подарки при покупке квартиры в&nbsp;Центре новостроек «Штаб-квартира»
				button.advantages__button.advantages__gift Выбрать подарок
