section.breadcrumbs
	.layout
		ul
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Жилые комплексы
			li.breadcrumbs__item
				a(href="").breadcrumbs__link.active Микрорайон Болховский
