section.complex-content
	.layout
		.complex-content-info
			.complex-content-info-left
				.house-slider
					.connected-carousels
						.stage
							.carousel.carousel-stage
								ul
									li
										img(src="uploads/img/complex-carousel.jpg")
									li
										img(src="uploads/img/complex-carousel-2.jpg")
									li
										img(src="uploads/img/complex-carousel-3.jpg")
									li
										img(src="uploads/img/complex-carousel-4.jpg")
									li
										img(src="uploads/img/complex-carousel-2.jpg")

							a(href="#").prev.prev-stage
								span
							a(href="#").next.next-stage
								span
						.navigation
							.carousel.carousel-navigation
								ul
									li
										img(src="uploads/img/complex-carousel.jpg")
									li
										img(src="uploads/img/complex-carousel-2.jpg")
									li
										img(src="uploads/img/complex-carousel-3.jpg")
									li
										img(src="uploads/img/complex-carousel-4.jpg")
									li
										img(src="uploads/img/complex-carousel-2.jpg")
			.complex-content-info-right
				h2.complex-content-info__title ул. Генерала Лаврова, 6
				button.complex-content-info__button Квартиры в наличии
				.complex-content-info-list
					ul
						li.complex-content-info-list__item
							.complex-content-info-list__label Срок сдачи
							.complex-content-info-list__text 3-ий квартал 2016 года
						li.complex-content-info-list__item
							.complex-content-info-list__label Квартиры
							.complex-content-info-list__text
								span 1
								span 2
								span 3
						li.complex-content-info-list__item
							.complex-content-info-list__label Цена за м<sup>2</sup>
							.complex-content-info-list__text от 32 120 руб.
						li.complex-content-info-list__item
							.complex-content-info-list__label Тип дома
							.complex-content-info-list__text монолитно-кирпичный
						li.complex-content-info-list__item
							.complex-content-info-list__label Подъездов
							.complex-content-info-list__text 8
						li.complex-content-info-list__item
							.complex-content-info-list__label Этажей
							.complex-content-info-list__text 12+14+14+12+14
				a(href="").complex-content-info__map-link Дом на карте города
				.complex-content-info-excursion Вы можете виртуально посетить все квартиры в нашем офисе либо выехать на объект в сопровождении эксперта. Мы свяжемся с вами и согласуем время визита
				.complex-content-info-excursion__submit
					button.complex-content-info-excursion__view Записаться на осмотр дома
					button.complex-content-info-excursion__tour Записаться на 3-d экскурсию
		.complex-content-tabs
			.complex-content-entrance
				span Подъезд
				ul
					li.active 1
					li 2
					li 3
					li 4
			.complex-content-flats
				.complex-content-floors
					ul
						li.active 1-2 этаж
						li 3-7 этаж
						li 8-11 этаж
						li 12-13 этаж
						li 14-17 этаж
				.complex-content-rooms
					ul
						li <span>1</span> Однокомнатные
							ul
								li.complex-content-rooms__item
									.complex-content-square 41.0 м<sup>2</sup>
									.complex-content-divider
									.complex-content-price 2 550 000 Р
								li.complex-content-rooms__item.active
									.complex-content-square 41.0 м<sup>2</sup>
									.complex-content-divider
									.complex-content-price 2 550 000 Р
								li.complex-content-rooms__item
									.complex-content-square 41.0 м<sup>2</sup>
									.complex-content-divider
									.complex-content-price 2 550 000 Р
						li <span>2</span> Двухкомнатные
							ul
								li.complex-content-rooms__item
										.complex-content-square 41.0 м<sup>2</sup>
										.complex-content-divider
										.complex-content-price 2 550 000 Р
						li <span>3</span> Трехкомнатные
							ul
								li.complex-content-rooms__item
										.complex-content-square 41.0 м<sup>2</sup>
										.complex-content-divider
										.complex-content-price 2 550 000 Р
								li.complex-content-rooms__item
										.complex-content-square 41.0 м<sup>2</sup>
										.complex-content-divider
										.complex-content-price 2 550 000 Р

				.complex-content-plan
					.complex-content-plan__thumbnail
						img(src="uploads/img/complex-content-plan__thumbnail.jpg")
					.complex-content-plan__overlay Наведите курсор на квартиру чтобы увидеть ее планировку



