section.contact-us-block
	.layout
		h2.contact-us-block__title Как связаться с нами
		.contact-us
			.contact-us__left
				ul
					li.contact-us__phone (4862) 78-08-15
					li.contact-us__time с 9:00 до 18:00
					li.contact-us__mail mail@780815.ru
			.contact-us__right
				ul
					li.contact-us__map
						a(href="#").contact-us__map-link Московская, 42 (ТЦ «Аэлита», 3 этаж, офис 41 и 43, FREEDOM)
					li.contact-us__recv
						a(href="#" , data-form-type=".show-recvisits-form").contact-us__recv-link Наши реквизиты
