section.extra
	.layout
		.extra-tour
			.extra-tour__content
				.extra-tour__title Виртуальная экскурсия по будущей квартире
				.extra-tour__text В нашем офисе вы сможете виртуально посетить квартиры даже в&nbsp;недостроенных домах
				button.extra-tour__submit записаться на экскурсию
			.extra-tour__thumbnail
				img(src="styles/default/css/images/extra-tour.png").extra-tour__img
		.extra-cards
			.extra-economy
				.extra-economy__title Экономия до 910 000 руб.<br>при покупке квартиры
				.extra-economy__text Бесплатно оформим для вас налоговый вычет.  Поможем вернуть каждому из супругов до 260 000 рублей за покупку жилья + 390 000 рублей за проценты по ипотеке
				button.extra-tour__submit записаться на экскурсию
			.extra-gift
				.extra-gift__title Подарки от партнеров<br>на сумму до 150 000 руб.
				.extra-gift__text Выберите подарки при покупке квартиры в Центре новостроек «Штаб-квартира»
				button.extra-gift__submit выбрать подарок
		.extra-advantages
			.advantages__item
				.advantages__icon.icon-4
				.advantages__title Оформление ипотеки прямо&nbsp;в&nbsp;офисе
				.advantages__text Ипотеку по&nbsp;наиболее выгодной ставке Сбербанка вы можете оформить прямо в&nbsp;нашем офисе
				button.advantages__button.advantages__excursion узнать ставки по ипотеке
			.advantages__item
				.advantages__icon.icon-5
				.advantages__title Квартитиры по ценам<br>застройщиков, без комиссии
				.advantages__text Мы не&nbsp;риелторы, оформление квартиры  осуществляется напрямую с&nbsp;застройщиком
				button.advantages__button.advantages__excursion получить подборку
			.advantages__item
				.advantages__icon.icon-6
				.advantages__title Бронирование квартиры за&nbsp;5&nbsp;минут
				.advantages__text Забронируйте любую понравившуюся квартиру в&nbsp;новостройке на&nbsp;3-5&nbsp;дней БЕСПЛАТНО!
				button.advantages__button.advantages__gift Выбрать подарок
