section.feedback-block
	.layout
		h2.feedback-block__title Что говорят о нас владельцы новых квартир
		.feedback-prev
		.feedback-next
		.feedback.feedback-carousel
			.feedback__item
				.feedback__content
					.feedback__left
						.feedback__thumbnail
							img(src="uploads/img/feedback__img.png").feedback__img
					.feedback__right
						.feedback__title Оперативно подобрали квартиру
						.feedback__text Первый раз обратился за помощью в федеральную систему бронирования, искал квартиру с хорошим видом, за разумную цену. Сотрудники «Штаб-квартиры» оперативно подобрали несколько вариантов, сопроводили на показ и помогли определиться с застройщиком.
						.feedback__name Александр Колесников
			.feedback__item
				.feedback__content
					.feedback__left
						.feedback__thumbnail
							img(src="uploads/img/feedback__img.png").feedback__img
					.feedback__right
						.feedback__title Оперативно подобрали квартиру
						.feedback__text Первый раз обратился за помощью в федеральную систему бронирования, искал квартиру с хорошим видом, за разумную цену. Сотрудники «Штаб-квартиры» оперативно подобрали несколько вариантов, сопроводили на показ и помогли определиться с застройщиком.
						.feedback__name Александр Колесников
