section.feedback-block
	.layout
		h2.feedback-block__title Что говорят о нас владельцы новых квартир
		.feedback-prev
		.feedback-next
		.feedback.feedback-carousel
			.feedback__item
				.feedback__content
					.feedback__left
						.feedback__thumbnail
							img(src="uploads/img/feedback__img-1.png").feedback__img
					.feedback__right
						.feedback__title Подобрали квартиру очень быстро
						.feedback__text Дорогая Штабквартира! Вы большие молодцы, спасибо Вам огромное! Благодаря Вам мы с мужем смогли оформить ипотеку и приобрести очень быстро в такой не простой для нас всех год: много где заставляли долго ждать, а потом отказывали, а ваши советы и работа помогли нам решить все с банком и купить себе жилье! Еще раз большое спасибо!
						.feedback__name Людмила Платонова
			.feedback__item
				.feedback__content
					.feedback__left
						.feedback__thumbnail
							img(src="uploads/img/feedback__img-2.png").feedback__img
					.feedback__right
						.feedback__title Все очень понравилось
						.feedback__text Я очень долго сомневался где мне лучше купить квартиру: в новостройке или на вторичке. С одной стороны хотелось въехать в новое жилье, с другой стороны многие районы находятся далеко. В конце-концов обратился в агентство «Штабквартира», где мне помогли окончательно решить для себя с выбором и купить квартиру именно в новостройке в районе Алроса. За что им очень благодарен!
						.feedback__name Михаил Колесников
			.feedback__item
				.feedback__content
					.feedback__left
						.feedback__thumbnail
							img(src="uploads/img/feedback__img-4.png").feedback__img
					.feedback__right
						.feedback__title Очень благодарна сотрудникам
						.feedback__text Обратилась в Штаб-квартиру. Отговорили покупать квартиру у одного застройщика, и действительно, начались проблемы через 3 месяца: к сроку сдать дом не успели, стройка не завершена до сих пор. А я уже въехала в новую квартиру и праздную новоселье! Большое спасибо Анне и ее коллегам!!!
						.feedback__name Юлия Антонова
			.feedback__item
				.feedback__content
					.feedback__left
						.feedback__thumbnail
							img(src="uploads/img/feedback__img-3.png").feedback__img
					.feedback__right
						.feedback__title Помогли сэкономить при покупке
						.feedback__text Никогда не думал, что при покупке такой большой вещи как квартира можно сэкономить. А оказывается можно! И за это гигантское спасибо команде из «Штабквартиры» — они помогла мне с женой рассчитать налоговые вычеты для каждого из нас по нашей ипотеке. Всего получилось большее полумиллиона рублей! Вы представляете себе: мы не только въедем сразу в новую квартиру, но и сможем сразу же обставить ее мебелью! Это же здорово))
						.feedback__name Евгений Новиков
