section.flat-submit
	.layout
		.flat-submit-forms
			.flat-submit-view
				.flat-submit-view__text С нашим экспертом вы можете выехать на осмотр жилого комплекса, домов и квартир
				button.flat-submit-view__button Записаться на осмотр дома
			.flat-submit-excursion
				.flat-submit-excursion__text В нашем офисе вы сможете виртуально посетить квартиры даже в недостроенных домах
				button.flat-submit-excursion__button Записаться на 3-d экскурсию
