section.flat-content
	.layout
		h1.flat-content__title 1-комнатные квартиры, 42 кв.м.
		.flat-content-info
			.flat-content-info-left
				img(src="uploads/img/complex-carousel.jpg")
			.flat-content-info-right
				button.flat-content-info__button Забронировать квартиру
				.flat-content-info-list
					ul
						li.flat-content-info-list__item
							.flat-content-info-list__label Комнат
							.flat-content-info-list__text 3-ий квартал 2016 года
						li.flat-content-info-list__item
							.flat-content-info-list__label Площаль
							.flat-content-info-list__text 86
						li.flat-content-info-list__item
							.flat-content-info-list__label Цена
							.flat-content-info-list__text 32 120 руб.
						li.flat-content-info-list__item
							.flat-content-info-list__label
							.flat-content-info-list__text
								.flat-content-info__button_plain Следить за изменением цены
						li.flat-content-info-list__item
							.flat-content-info-list__label Подъездов
							.flat-content-info-list__text 8
						li.flat-content-info-list__item
							.flat-content-info-list__label Этажей
							.flat-content-info-list__text 12+14+14+12+14
