section.flats-summary-block
	.layout
		.flats-summary
			h1.flats-summary__title 115 квартир в продаже
			ul
				li.flats-summary__item
					a(href="").flats-summary__link ул. Генерала Лаврова, 6
				li.flats-summary__item
					a(href="").flats-summary__link ул. Генерала Лаврова, 8
				li.flats-summary__item
					a(href="").flats-summary__link ул. Естина, 2
				li.flats-summary__item
					a(href="").flats-summary__link ул. Естина, 4
				li.flats-summary__item
					a(href="").flats-summary__link ул. Естина, 9
				li.flats-summary__item
					a(href="").flats-summary__link ул. Генерала Лаврова, 10
				li.flats-summary__item
					a(href="").flats-summary__link ул. Естина, 11
