section#gifts.gifts-block
	.layout
		h2.gifts__title Выберите один из 3-х подарков для&nbsp;вашей новой квартиры
		.gifts__subtitle Кликните мышкой на&nbsp;один из&nbsp;ящиков и&nbsp;узнайте, какой подарок вам достался
		.gifts-boxes
			.gifts-boxes__item(data-form-type=".get-gift-form")
				img(src="styles/default/css/images/box-1.png").gifts-boxes__img
				button.gifts-boxes__button Выбрать
			.gifts-boxes__item(data-form-type=".get-gift-form")
				img(src="styles/default/css/images/box-2.png").gifts-boxes__img
				button.gifts-boxes__button Выбрать
			.gifts-boxes__item(data-form-type=".get-gift-form")
				img(src="styles/default/css/images/box-3.png").gifts-boxes__img
				button.gifts-boxes__button Выбрать
		.gift-boxes__rules Выбор можно сделать только один раз
