section.head-fixed
	.layout
		.head-menu-fixed
			ul
				li.head-menu-fixed__item
					a(href="").head-menu-fixed__link Подарки
				li.head-menu__item
					a(href="").head-menu-fixed__link Каталог квартир
				li.head-menu__item
					a(href="").head-menu-fixed__link Консультация эксперта
				li.head-menu__item
					a(href="").head-menu-fixed__link Свежие предложения
				li.head-menu__item
					a(href="").head-menu-fixed__link Отзывы
				li.head-menu__item
					a(href="").head-menu-fixed__link Бронирование
				li.head-menu__item
					a(href="").head-menu-fixed__link О центре
				li.head-menu__item
					a(href="").head-menu-fixed__link Контакты
