section.head
	.layout
		.head-menu
			ul
				li.head-menu__item
					a(href="").head-menu__link Каталог новостроек
				li.head-menu__item
					a(href="").head-menu__link Ипотека
				li.head-menu__item
					a(href="").head-menu__link Вопросы и ответы
				li.head-menu__item
					a(href="").head-menu__link Ваши выгоды
				li.head-menu__item
					a(href="").head-menu__link Отзывы
				li.head-menu__item
					a(href="").head-menu__link Жителям
				li.head-menu__item
					a(href="").head-menu__link О центре
				li.head-menu__item
					a(href="").head-menu__link Контакты
				li.head-menu__item
					button.head-menu__submit Подобрать квартиру
