section.head
	.layout
		.head-menu
			ul
				li.head-menu__item_burger
					a(href="").head-menu__link Бургер
				li.head-menu__item
					a(href="").head-menu__link Подарки
				li.head-menu__item
					a(href="").head-menu__link Каталог квартир
				li.head-menu__item
					a(href="").head-menu__link Консультация эксперта
				li.head-menu__item
					a(href="").head-menu__link Свежие предложения
				li.head-menu__item
					a(href="").head-menu__link Отзывы
				li.head-menu__item
					a(href="").head-menu__link Бронирование
				li.head-menu__item
					a(href="").head-menu__link О центре
				li.head-menu__item
					a(href="").head-menu__link Контакты
