section.header
	.layout.clearfix
		.header-logo
		.header-contacts
			ul
				li.header-contacts__adress
					a(href="#").header-contacts__link_adress Орел, Московская 42
				li.header-contacts__time с 9:00 до 18:00
				li.header-contacts__phone
					a(href="tel:+74862780815").header-contacts__link (4862) 78-08-15
