section.houses-block
	.houses-map-block#houses-modal-map
	.layout
		h2.houses-block__title Выберите квартиру в подходящем<br>жилом комплексе
		.houses-block__subtitle В нашей базе более 700 предложений от 9 застройщиков Орла
		.houses
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.


			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-close
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
			.houses-item
				.houses-item__holder
					.houses-item__thumbnail
						img(src="uploads/img/house-1.png").houses-item__img
						.houses-item-params.houses-item__sale-open
							a(href="#houses-modal-map" data-open-map="50.12,30.45").houses-item__map
					.houses-item__info
						.houses-item__title ЖК «Разградский»
						.houses-item__price от 1 400 000 руб. за м<sup>2</sup>
						.houses-item__text Жилой комплекс в районе ТРЦ «МегаГРИНН», остановка «МегаГРИНН»
						button.houses-item__button Квартиры в наличии
						.houses-item__phone
							a(href="tel:+74862780515").houses-item__phone-link (4862) 78-05-15
						.houses-item-more-price
							ul
								li.more-price__item
									.more-price__square 1-комн. от 24 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 400 000 руб.
								li.more-price__item
									.more-price__square 2-комн. от 52 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 1 800 000 руб.
								li.more-price__item
									.more-price__square 1-комн. от 74 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 600 000 руб.
								li.more-price__item
									.more-price__square 3-комн. от 65 м<sup>2</sup>
									.more-price__divider
									.more-price__price от 2 300 000 руб.
