section.main-info-block
	.layout
		.main-info
			.main-info-image
			.main-info-content
				h1.main-info-content__title Продажа квартир в&nbsp;новостройках Орла<br><span>без комиссии</span>
				.main-info-content__subtitle Поиск по базе из более 800 вариантов квартир:
				button(data-form-type=".main-search-form").main-info-content__button Подобрать<br>квартиру

