button(data-scroll-top-button, data-scroll-to-b , data-href=".head").scrolltop__button <img src="styles/default/css/icons/scrolltop__button.png"> Наверх
.screen-cover
// Форма - подбор вариантов квартир
.main-search-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Подбор вариантов квартир" data-form-post="main-search-form")
		.main-search-form__description Подбор вариантов квартир
		.main-search-form__screen(data-form-step)
			.main-search-form__steps Шаг 1 из 5
			.main-search-form__title Выберите жилой комлекс
			.main-search-form__checkboxes
				.main-search-form__checkboxes-left
					ul
						li
							input(type="checkbox" name="complex[]" id="doesntmatter" value="Не важно").main-search-form__checkbox
							label(for="doesntmatter").main-search-form__label Не важно
						li
							input(type="checkbox" name="complex[]" id="razgradsky" value="Разградский").main-search-form__checkbox
							label(for="razgradsky").main-search-form__label Разградский
						li
							input(type="checkbox" name="complex[]" id="pervyi" value="Микрорайон «Первый»").main-search-form__checkbox
							label(for="pervyi").main-search-form__label Микрорайон «Первый»
						li
							input(type="checkbox" name="complex[]" id="revolution" value="ЖК на ул. Революции, 3").main-search-form__checkbox
							label(for="revolution").main-search-form__label ЖК на ул. Революции, 3
						li
							input(type="checkbox" name="complex[]" id="solovinaya" value="Соловьиная роща").main-search-form__checkbox
							label(for="solovinaya").main-search-form__label Соловьиная роща
				.main-search-form__checkboxes-right
					ul
						li
							input(type="checkbox" name="complex[]" id="ostrov" value="Зеленый остров").main-search-form__checkbox
							label(for="ostrov").main-search-form__label Зеленый остров
						li
							input(type="checkbox" name="complex[]" id="moscow" value="ЖК на ул. Московское шоссе, 155").main-search-form__checkbox
							label(for="moscow").main-search-form__label ЖК на ул. Московское шоссе, 155
						li
							input(type="checkbox" name="complex[]" id="star" value="Северная звезда").main-search-form__checkbox
							label(for="star").main-search-form__label Северная звезда
						li
							input(type="checkbox" name="complex[]" id="andrianova-37" value="ЖК на ул. Андрианова, 37").main-search-form__checkbox
							label(for="andrianova-37").main-search-form__label ЖК на ул. Андрианова, 37
						li
							input(type="checkbox" name="complex[]" id="andrianova-31" value="ЖК на ул. Андрианова, 31").main-search-form__checkbox
							label(for="andrianova-31").main-search-form__label ЖК на ул. Андрианова, 31
			button(data-form-step-next).main-search-form__button Следующий шаг
			.main-search-form__subinfo Услуга подбора бесплатна и ни к чему вас не обязывает

		.main-search-form__screen(data-form-step).main-search-form__screen-2.invisible
			.main-search-form__steps Шаг 2 из 5
			.main-search-form__title.main-search-form__title-screen-2 Укажите количество комнат
			.main-search-form__room-checkboxes
				ul
					li
						input(type="checkbox" name="rooms[]" id="1-room" value="1").main-search-form__room-checkbox
						label(for="1-room").main-search-form__room-label 1
					li
						input(type="checkbox" name="rooms[]" id="2-room" value="2").main-search-form__room-checkbox
						label(for="2-room").main-search-form__room-label 2
					li
						input(type="checkbox" name="rooms[]" id="3-room" value="3").main-search-form__room-checkbox
						label(for="3-room").main-search-form__room-label 3
					li
						input(type="checkbox" name="rooms[]" id="4-room" value="4+").main-search-form__room-checkbox
						label(for="4-room").main-search-form__room-label 4+
			.main-search-form__buttons
				button(data-form-step-prev).main-search-form__button_prev <span>К предыдущему шагу</span>
				button(data-form-step-next).main-search-form__button Следующий шаг


		.main-search-form__screen(data-form-step).main-search-form__screen-3.invisible
			.main-search-form__steps Шаг 3 из 5
			.main-search-form__title.main-search-form__title-screen-3 Укажите площадь и цену
				ul
					li
						span.main-search-form__input-title Площадь
						span.main-search-form__input-prefixes От
						input(type="text" name="square").main-search-form__input-square
						span.main-search-form__input-prefixes м<sup>2</sup>
					li
						span.main-search-form__input-title Цена
						span.main-search-form__input-prefixes До
						input(type="text" name="price").main-search-form__input-price
						span.main-search-form__input-prefixes р.
			.main-search-form__buttons
				button(data-form-step-prev).main-search-form__button_prev <span>К предыдущему шагу</span>
				button(data-form-step-next).main-search-form__button Следующий шаг


		.main-search-form__screen(data-form-step).main-search-form__screen-4.invisible
			.main-search-form__steps Шаг 4 из 5
			.main-search-form__title.main-search-form__title-screen-4 Выберите вариант с отделкой
				ul
					li
						input(type="checkbox" name="otdelka[]" id="otdelka-doesntmatter" value="Не важно").main-search-form__checkbox
						label(for="otdelka-doesntmatter").main-search-form__label Не важно
					li
						input(type="checkbox" name="otdelka[]" id="otdelka-razgradsky" value="Разградский").main-search-form__checkbox
						label(for="otdelka-razgradsky").main-search-form__label Разградский
					li
						input(type="checkbox" name="otdelka[]" id="otdelka-pervyi" value="Первый").main-search-form__checkbox
						label(for="otdelka-pervyi").main-search-form__label Микрорайон «Первый»

			.main-search-form__buttons
				button(data-form-step-prev).main-search-form__button_prev <span>К предыдущему шагу</span>
				button(data-form-step-next).main-search-form__button Следующий шаг

		.main-search-form__screen(data-form-step , data-form-step-wait).main-search-form__screen-5.invisible
			.main-search-form__wait
			.main-search-form__title.main-search-form__title-screen-5 Ваши данные обрабатываются


		.main-search-form__screen(data-form-step).main-search-form__screen-6.invisible
			.main-search-form__steps Шаг 5 из 5
			.main-search-form__title.main-search-form__title-screen-6 Ваши данные переданы эксперту
			.main-search-form__description Мы подберем объекты и пришлем на ваш e-mail
			ul
				li
					input(type="text" name="mail" placeholder="*Ваш e-mail").main-search-form__input-mail
					span.main-search-form__input-subfixes Чтобы прислать вам подборку
				li
					input(type="text" name="phone" placeholder="Номер телефона в любом формате").main-search-form__input-phone
					span.main-search-form__input-subfixes Чтобы задать вопросы и проконсультировать вас
			.main-search-form__buttons
				button(data-form-submit).main-search-form__button Получить подборку




// Форма - получение планировок квартир в наличии
.get-plans-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Получение планировок квартир в наличии" data-form-post="get-plans-form")
		.get-plans-form__title Получите на e-mail описание<br>и планировки квартир в наличии
		.get-plans-form__description укажите количество комнат
		.get-plans-form__room-checkboxes
			ul
				li
					input(type="checkbox" name="rooms[]" id="1-room-plan" value="1").get-plans-form__room-checkbox
					label(for="1-room-plan").get-plans-form__room-label 1
				li
					input(type="checkbox" name="rooms[]" id="2-room-plan" value="2").get-plans-form__room-checkbox
					label(for="2-room-plan").get-plans-form__room-label 2
				li
					input(type="checkbox" name="rooms[]" id="3-room-plan" value="3").get-plans-form__room-checkbox
					label(for="3-room-plan").get-plans-form__room-label 3
				li
					input(type="checkbox" name="rooms[]" id="4-room-plan" value="4+").get-plans-form__room-checkbox
					label(for="4-room-plan").get-plans-form__room-label 4+
		.get-plans-form-content
			ul
				li
					input(type="text" name="mail" placeholder="*Ваш e-mail").get-plans-form__input-mail
				li
					input(type="text" name="phone" placeholder="*Номер телефона").get-plans-form__input-phone
					.get-plans-form__input-subfixes Чтобы задать вопросы и проконсультировать вас
		button(data-form-submit).get-plans-form__button Получить
		.get-plans-form__sub-description Или позвоните эксперту <strong>(4862) 78-08-15</strong>



// Форма - узнать подробности про налоговый вычет и экономию
.nalog-economy-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Узнать подробности про налоговый вычет и экономию" data-form-post="nalog-economy-form")
		.nalog-economy-form__title Услуги предполагают оказание помощи в подготовке и оформлении документов, которые дают право на получение налоговых вычетов. При этом мы не гарантируем 100% получение налогового вычета, т.к. решение о его выплате и размере принимает Федеральная налоговая служба РФ
		.nalog-economy-form__description Чтобы узнать все подробности, оставьте номер телефона
		.nalog-economy-form-content
			ul
				li
					input(type="text" name="phone" placeholder="*Ваш номер телефона").nalog-economy-form__input-phone

		button(data-form-submit).nalog-economy-form__button Перезвоните мне
		.nalog-economy-form__sub-description Или позвоните эксперту <strong>(4862) 78-08-15</strong>


// Форма - подборка эксклюзивных предложений от застройщиков
.exclusive-offers-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Подборка эксклюзивных предложений от застройщиков" data-form-post="exclusive-offers-form")
		.exclusive-offers-form__title Получите на e-mail подборку эксклюзивных предложений от&nbsp;застройщиков Орла
		.exclusive-offers-form-content
			ul
				li
					input(type="text" name="mail" placeholder="*Ваш e-mail").exclusive-offers-form__input-mail
					.exclusive-offers-form__input-subfixes Чтобы выслать вам купон
				li
					input(type="text" name="phone" placeholder="*Номер телефона").exclusive-offers-form__input-phone
					.exclusive-offers-form__input-subfixes Чтобы задать вопросы и проконсультировать вас

		button(data-form-submit).exclusive-offers-form__button Получить подборку

// Форма - запись на экскурсию
.get-excursion-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Запись на экскурсию" data-form-post="get-excursion-form")
		.get-excursion-form__title Оставьте номер телефона, мы перезвоним и согласуем время вашей экскурсии
		.get-excursion-form-content
			ul
				li
					input(type="text" name="phone" placeholder="*Номер телефона").get-excursion-form__input-phone
					.get-excursion-form__input-subfixes Чтобы задать вопросы и проконсультировать вас

		button(data-form-submit).get-excursion-form__button Перезвоните мне
		.get-excursion-form__sub-description Или позвоните, чтобы записаться <strong>(4862) 78-08-15</strong>


// Форма - запрос ставок по ипотеке
.get-credit-rates-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Запрос ставок по ипотеке" data-form-post="get-credit-rates-form")
		.get-credit-rates-form__title Оставьте номер телефона
		.get-credit-rates-form__description Эксперт сообщит вам наиболее выгодные ставки по ипотеке
		.get-credit-rates-form-content
			ul
				li
					input(type="text" name="phone" placeholder="*Ваш номер телефона").get-credit-rates-form__input-phone

		button(data-form-submit).get-credit-rates-form__button Перезвоните мне
		.get-credit-rates-form__sub-description Или позвоните: <strong>(4862) 78-08-15</strong>



// Форма - получения подарка
.get-gift-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Получения подарка" data-form-post="get-gift-form")
		.get-gift-form__wait(data-form-set-wait)
			.get-gift-form__wait-icon
			.get-gift-form__title_wait Идет определение подарка
		.get-gift-form__title Вы получаете:
		.get-gift-form__description Именной подарочный сертификат<br>на 50 000 руб!
		.get-gift-form-content
			.get-gift-form__sub-description Включающий
			.get-gift-form__gift-list
				ul
					li <strong>20 000 руб.</strong> на ремонт новой квартиры от студии ремонта «Ярус»
					li <strong>15 000 руб.</strong> на покупку напольных покрытий от магазина «Паркет-Маркет»
					li <strong>5 000 руб.</strong> на покупку интерьерного освещения от магазина «Мир Люстр»
					li <strong>10 000 руб.</strong> на установку натяжного потолка от компании «Мелодия Комфорта»
				span Чтобы закрепить за собой подарочный сертификат, заполните форму
			.get-gift-form__gift-inputs
				ul
					li
						input(type="text" name="name" placeholder="*ФИО").get-gift-form__input-name
					li
						input(type="text" name="mail" placeholder="*E-mail").get-gift-form__input-mail
					li
						input(type="text" name="phone" placeholder="*Ваш номер телефона").get-gift-form__input-phone

		button(data-form-submit).get-gift-form__button Перезвоните мне
		.get-gift-form__gift-rules Подарочный сертификат действителен при покупке квартиры в Центре новостроек «Штаб-квартира». Подробные  условия получения подарка – в нашем офисе


// Форма - бронирования квартиры из популярных предложений
.get-offer-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Бронирования квартиры из популярных предложений" data-form-post="get-offer-form")
		.get-offer-form__title Оставьте номер телефона<br>и забронируйте квартиру на 5 дней БЕСПЛАТНО!
		.get-offer-form-content
			ul
				li
					input(type="text" name="phone" placeholder="*Номер телефона").get-offer-form__input-phone
			.get-offer-form__sub-description Или забронируйте квартиру по телефону: <strong>(4862) 78-08-15</strong>
		button(data-form-submit).get-offer-form__button Забронировать



// Форма - партнерство с застройщиками
.get-partnership-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Партнерство с застройщиками" data-form-post="get-partnership-form")
		.get-partnership-form__title Приглашаем застройщиков Орла к сотрудничеству! Мы работаем на стандартных условиях, при этом предоставляем покупателю отличный сервис по демонстрации объектов, планировок, консультации по покупке квартир, оформлению ипотеки, налогового вычета и т.п.
		.get-partnership-form__description Чтобы узнать все подробности, оставьте номер телефона
		.get-partnership-form-content
			ul
				li
					input(type="text" name="phone" placeholder="*Ваш номер телефона").get-partnership-form__input-phone

		button(data-form-submit).get-partnership-form__button Перезвоните мне
		.get-partnership-form__sub-description Или позвоните эксперту <strong>(4862) 78-08-15</strong>


// Форма - партнерство индивидуальное
.get-individual-partnership-form(data-modal-form)
	.form__close
	form(action="/" method="POST" data-form-name="Партнерство с застройщиками" data-form-post="get-partnership-form")
		.get-individual-partnership-form__title Хотите предоставлять нашим клиентам, приобретающим квартиры, скидки и подарки? Приглашаем партнеров к бесплатному участию в партнерской программе!
		.get-individual-partnership-form__description Чтобы узнать все подробности, оставьте номер телефона
		.get-individual-partnership-form-content
			ul
				li
					input(type="text" name="phone" placeholder="*Ваш номер телефона").get-individual-partnership-form__input-phone

		button(data-form-submit).get-individual-partnership-form__button Перезвоните мне
		.get-individual-partnership-form__sub-description Или позвоните эксперту <strong>(4862) 78-08-15</strong>

// Форма - реквизиты
.show-recvisits-form(data-modal-form)
	.form__close
	ul
		li ОГРН: 313574016400030
		li ИНН: 575307487102
		li Р/С: 40802810509100001851
		li Банк: ПАО АКБ «Авангард»
		li БИК: 044525201
		li К/С: 30101810000000000201

// Форма - успешная отправка
.success-form(data-modal-form)
	.form__close
	.success-form__title Информация принята
	.success-form__description В ближайшее время наш эксперт свяжется с вами
