section.news-block
	.layout
		h2.news-block__title Новости рынка новостроек Орла
		.news-block-item
			.news-block-item__thumbnail
				img(src="uploads/img/house-1.png").news-block-item__image
			.news-block-item__content
				.news-block-item__title 14.01.2016–20.01.2016 г. происходит заселение в квартиры 1-3 подъездов дома по ул. Зеленина, 14
				.news-block-item__text Уважаемые покупатели квартир ПАО «Орелстрой»! Штаб-квартира сообщает, что с 14.01.2016 по 20.01.2016 будет происходить заселение в квартиры 1-3 подъездов дома по ул. Зеленина, 14. Поздравляем!
				.news-block-item__more Подробности по телефону отдела заселения ПАО «Орелстрой»: (4862) 54-92-92
				.news-block-item__date 28 ноября 2016 г.
		.news-block-item
			.news-block-item__thumbnail
				img(src="uploads/img/house-1.png").news-block-item__image
			.news-block-item__content
				.news-block-item__title 14.01.2016–20.01.2016 г. происходит заселение в квартиры 1-3 подъездов дома по ул. Зеленина, 14
				.news-block-item__text Уважаемые покупатели квартир ПАО «Орелстрой»! Штаб-квартира сообщает, что с 14.01.2016 по 20.01.2016 будет происходить заселение в квартиры 1-3 подъездов дома по ул. Зеленина, 14. Поздравляем!
				.news-block-item__more Подробности по телефону отдела заселения ПАО «Орелстрой»: (4862) 54-92-92
				.news-block-item__date 28 ноября 2016 г.
		.news-block-item
			.news-block-item__thumbnail
				img(src="uploads/img/house-1.png").news-block-item__image
			.news-block-item__content
				.news-block-item__title 14.01.2016–20.01.2016 г. происходит заселение в квартиры 1-3 подъездов дома по ул. Зеленина, 14
				.news-block-item__text Уважаемые покупатели квартир ПАО «Орелстрой»! Штаб-квартира сообщает, что с 14.01.2016 по 20.01.2016 будет происходить заселение в квартиры 1-3 подъездов дома по ул. Зеленина, 14. Поздравляем!
				.news-block-item__more Подробности по телефону отдела заселения ПАО «Орелстрой»: (4862) 54-92-92
				.news-block-item__date 28 ноября 2016 г.
		button.news-block-more Читать все новости
