section.offers-block
	h2.offers-block__title Самые популярные предложения в новостройках:
	.layout
		.offers-prev
		.offers-next
		.offers.offers-carousel
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
			.offers__item
				img(src="uploads/img/plan.png")
				.offers__content
					.offers__title ЖК «Разградский»
					.offers__square Студия., 24 м<sup></sup>
					.offers__price 1 000 000 руб.
					button(data-form-type=".get-offer-form").offers__button Забронировать
