section.seo-block
	.layout
		h2.seo-block__title Центр новостроек «Штаб-квартира»
		.seo-cards
			.seo-cards__item
				.seo-cards-prev
				.seo-cards-next
				.seo-cards__slider-subtext Оформление квартиры
				.seo-cards__slider
					img(src="uploads/img/seo-cards__image-1.png").seo-cards__image
					img(src="uploads/img/seo-cards__image-1.png").seo-cards__image
					img(src="uploads/img/seo-cards__image-1.png").seo-cards__image
			.seo-cards__item_gray
				.seo-cards__title О нас
				.seo-cards__text
				| Центр новостроек «Штаб-квартира» предоставляет информационные услуги при покупке квартиры в новостройках Орла без риелторской комиссии. Мы помогаем вам подобрать и приобрести из первых рук лучшие квартиры из более 800 вариантов.
				|<p>Абсолютно бесплатно для вас мы оказываем услуги:</p>
				|<ul>
				|<li>подбор подходящей квартиры в новостройках</li>
				|<li>бронирование на срок до 5 дней</li>
				|<li>виртуальная экскурсия по будущей квартире</li>
				|<li>выезд на осмотр квартиры, дома и района</li>
				|<li>поиск оптимальных условий по ипотеке от банков-партнеров</li>
				|<li>оформление возврата по ипотеке на сумму до 908 000 руб.</li>
				|<li>подарки от партнеров на сумму до 150 000 руб.</li>
				|<li>работаем с материнским капиталом и военной ипотекой</li>
			.seo-cards__item_padding
				.seo-cards__title Гарантии и безопасность сделки
				.seo-cards__text <p><strong>Персональный эксперт</strong><br>Вы работаете с одним персональным экспертом, который досконально погружается в ваш вопрос, и не ждёте ответа от разных компаний. Эксперт предоставляет планировки всех интересующих объектов, а вы бесплатно бронируете любую понравившуюся квартиру.</p> <p><strong>Независимая консультация</strong><br>Вы получаете независимую консультацию эксперта по подбору района, квартиры, ипотеке, а также об инфраструктуре, сроках сдачи объекта, наличии документов, условиях продажи. Вы узнаёте о квартире всё!</p> <p><strong>Безопасность сделки</strong><br>Мы владеем достоверной информацией о сроках сдачи и технических особенностях домов в новостройках. При сделке мы выступаем на стороне нашего клиента.</p>
			.seo-cards__item_plan
				img(src="uploads/img/seo-cards__image-2.png").seo-cards__image
