section.seo-block
	.layout
		h2.seo-block__title Центр новостроек «Штаб-квартира»
		.seo-cards
			.seo-cards__item
				.seo-cards-prev
				.seo-cards-next
				.seo-cards__slider-subtext Оформление квартиры
				.seo-cards__slider
					img(src="uploads/img/seo-cards__image-1.png").seo-cards__image
					img(src="uploads/img/seo-cards__image-1.png").seo-cards__image
					img(src="uploads/img/seo-cards__image-1.png").seo-cards__image
			.seo-cards__item_gray
				.seo-cards__title Квартиры в Орле
				.seo-cards__text Центр новостроек «Штаб-квартира» предоставляет информационно-аналитические и рекламные услуги на рынке недвижимости Орла. Коллектив нашей компании в Орле работает с 2006 года, некоторые сотрудники с 1994 года, мы очень хорошо понимаем специфику местного рынка. Если вас интересует покупка или продажа квартиры, вы можете смело обращаться в Центр новостроек «Штаб-квартира» . У нас большой опыт работы, мы с удовольствием поможем вам найти подходящий вариант. Если вы еще не знаете, какую именно сделку совершить: купить трехкомнатную, двухкомнатную, однокомнатную квартиру на вторичном рынке или вашим выбором станет квартира в новостройке Орла — мы сможем подробно и совершенно бесплатно проконсультировать вас. Наши специалисты подскажут, какой район города выбрать, какой тип дома предпочесть.
			.seo-cards__item_padding
				.seo-cards__title Недвижимость в Орле
				.seo-cards__text Для каждой сделки существует наиболее оптимальное время: в разные времена года меняется активность участников рынка, а также постоянно колеблется стоимость квартир. Несмотря на финансовый кризис, сильно повлиявший на цены, Орел по-прежнему весьма привлекателен для инвестиций, число сделок за прошедший год существенно увеличилось. Кроме того, мы поможем выбрать, снять квартиру в Орле или купить коммерческие объекты. Наши специалисты сделают высококачественную фото- и видеосъемку, организуют маркетинговую и рекламную компанию по продвижению вашего объекта с целью поиска покупателей на него.
			.seo-cards__item_plan
				img(src="uploads/img/seo-cards__image-2.png").seo-cards__image
