section.subscription-block
	.layout
		.subscription-form
			form(action="")
				.subscription-form__title Хотите первыми выбирать привлекательные планировки и этажи в новых домах?
				.subscription-form__subtitle Подпишитесь на рассылку, мы будем присылать их вам на e-mail
				.subscription-form__inputs
					input(type="text" placeholder="Введите ваш e-mail").subscription-form__input
					button(type="submit").subscription-form__button Подписаться
