@media (max-width: 1366px) {
  .get-gift-form {
    min-width: 1024px;
    max-width: 1024px;
    min-height: 600px;
    padding-bottom: 20px;
  }
  .get-gift-form__gift-inputs ul {
    width: 100%;
    text-align: center;
    max-width: 1024px;
    margin-top: -10px;
  }
  .get-gift-form__gift-inputs ul li {
    margin: 10px;
    display: inline-block;
  }
  .get-gift-form__input-name {
    width: 100%;
  }
  .get-gift-form__input-mail {
    width: 100%;
  }
  .get-gift-form__input-phone {
    width: 100%;
  }
  .get-gift-form__gift-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
  }
  .get-gift-form__gift-list ul li {
    flex-basis: 33.33333%;
    font-size: 0.9375rem;
    padding: 10px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .get-gift-form__gift-list ul li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    background: url("icons/checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .get-gift-form__title {
    font-size: 1rem;
  }
  .get-gift-form__description {
    font-size: 1.5rem;
  }
  .get-gift-form__gift-list span {
    font-size: 1.25rem;
  }
  .get-gift-form-content {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .get-gift-form__sub-description {
    margin-top: 0;
    margin-bottom: -10px;
  }
  .get-gift-form__button {
    margin-top: -15px;
  }
}
