@import url("fonts/museo/font1.css");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Museo';
  line-height: 1.414;
  font-weight: 300;
}
body {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
