@import url("fonts/neosanspro/font.css");
@import url("fonts/opensans/font.css");
@import url("../js-libs/fancybox/css/jquery.fancybox.css");
@import url("//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans';
  line-height: 1.414;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #31475d;
  text-decoration: none;
  border-bottom: 1px solid #31475d;
}
a:hover {
  color: #f00;
}
img {
  width: auto;
  max-width: 100%;
}
button {
  font-family: 'Open Sans';
  cursor: pointer;
}
section {
  box-sizing: border-box;
  width: 100%;
}
.layout {
  max-width: 1170px;
  min-width: 1024px;
  margin: 0 auto;
  position: relative;
}
h1 {
  font-family: 'Neo Sans Pro';
  font-size: 2.75rem;
  font-weight: normal;
}
h2 {
  font-family: 'Neo Sans Pro';
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.2;
}
/* ------------- Топ-фикс ------------- */
.head {
  background: #31475d;
  padding: 15px 20px 15px 20px;
}
.head-menu {
  box-sizing: border-box;
  text-align: center;
}
.head-menu__item {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.head-menu__item:first-child {
  padding-left: 0;
}
.head-menu__item:last-child {
  padding-right: 0;
}
.head-menu__link {
  color: #fff;
  border: none;
}
/* ------------- Топ-маню-фикс ------------- */
.head-fixed {
  background: #31475d;
  padding: 15px 20px 15px 20px;
  display: none;
  position: fixed;
}
.head-menu-fixed {
  box-sizing: border-box;
  text-align: center;
  display: none;
}
.head-menu-fixed__item {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.head-menu-fixed__item:first-child {
  padding-left: 0;
}
.head-menu-fixed__item:last-child {
  padding-right: 0;
}
.head-menu-fixed__link {
  color: #fff;
  border: none;
}
/* ------------- Шапка ------------- */
.header {
  padding: 20px;
}
.header-logo {
  background-image: url("icons/main-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 255px;
  height: 60px;
  float: left;
}
.header-contacts {
  float: right;
  font-size: 1.125rem;
  margin-top: 10px;
}
.header-contacts__link {
  color: #000;
  border-bottom: none;
}
.header-contacts__link_adress {
  color: #000;
  border-bottom: 1px dotted #000;
}
.header-contacts__adress {
  display: inline-block;
  margin-right: 30px;
}
.header-contacts__adress:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-image: url("icons/map-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-contacts__time {
  display: inline-block;
  margin-right: 30px;
}
.header-contacts__time:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-image: url("icons/clock-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-contacts__phone {
  display: inline-block;
  margin-right: 0px;
  font-weight: 600;
}
.header-contacts__phone:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-image: url("icons/phone-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* ------------- Инфобанер на главной ------------- */
.main-info-block {
  background: url("images/wall-pattern.png");
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.main-info {
  display: flex;
  width: 100%;
}
.main-info-image {
  flex-basis: 50%;
  background: url("images/main-info-image-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-info-content {
  flex-basis: 50%;
  text-align: center;
  box-sizing: border-box;
  background: #f8fcff;
  padding: 20px;
  box-sizing: border-box;
}
.main-info-content__title {
  color: #31475d;
  line-height: 1.1;
}
.main-info-content__title span {
  color: #ff7100;
  line-height: 1.1;
  font-size: 2.4375rem;
}
.main-info-content__subtitle {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #31475d;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
  margin-top: -10px;
}
.main-info-content__button {
  background: #ff7100 url("icons/main-info-content__button.png");
  background-repeat: no-repeat;
  background-position: 15px 13px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 12px;
  padding-left: 60px;
  padding-right: 40px;
  border: none;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 2px;
  border-bottom: 2px solid #c15906;
  cursor: pointer;
}
.main-info-content__button:hover {
  background: #fe811e url("icons/main-info-content__button.png");
  background-repeat: no-repeat;
  background-position: 15px 13px;
}
/* ------------- Преимущества ------------- */
.advantages-block {
  padding: 40px 20px;
  padding-bottom: 60px;
}
.advantages {
  display: flex;
}
.advantages__item {
  flex-basis: 33.333333333%;
  text-align: center;
  padding: 10px;
}
.advantages__icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.advantages__icon.icon-1 {
  background: url("icons/advantages__icon1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__icon.icon-2 {
  background: url("icons/advantages__icon2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__icon.icon-3 {
  background: url("icons/advantages__icon3.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.advantages__text {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.advantages__link {
  color: #0081ba;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  border-bottom: 1px dotted #0081ba;
}
.advantages__button {
  color: #0081ba;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  border: 2px solid #0081ba;
  background: none;
  border-radius: 3px;
  padding: 20px 0px;
  width: 80%;
  transition-duration: 0.1s;
}
.advantages__button:hover {
  color: #fff;
  background: #0081ba;
}
/* ------------- Блок подарки ------------- */
.gifts-block {
  padding: 20px;
  background: url("icons/gift-background.png");
  background-repeat: repeat-x;
}
.gifts__title {
  text-align: center;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.gifts__subtitle {
  font-size: 1.375rem;
  color: #cdb5b1;
  text-align: center;
}
.gifts-boxes {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  text-align: center;
}
.gifts-boxes__item {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 50%;
  transition-duration: 0.3s;
}
.gifts-boxes__item:hover {
  background: rgba(255,255,255,0.08);
}
.gifts-boxes__img {
  margin-top: 50px;
}
.gifts-boxes__button {
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  color: #cdb5b1;
  background: none;
  display: block;
  margin: 0 auto;
  width: 140px;
  padding: 15px;
  text-align: center;
}
.gift-boxes__rules {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
/* ------------- Блок подарки ------------- */
.houses-block {
  padding: 20px;
  padding-bottom: 60px;
}
.houses-block__title {
  color: #31475d;
  text-align: center;
  margin-bottom: 10px;
}
.houses-block__subtitle {
  font-size: 1.375rem;
  color: #666;
  text-align: center;
}
.houses {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.houses-item {
  flex-basis: 33.33333333%;
  padding: 15px;
  box-sizing: border-box;
}
.houses-item__thumbnail {
  position: relative;
}
.houses-item-params {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 15px;
  font-size: 0.9375rem;
  box-sizing: border-box;
  z-index: 100;
}
.houses-item__sale-open:before {
  content: "Дом сдан";
  padding-left: 30px;
  background: url("icons/houses-item__sale-open.png");
  background-repeat: no-repeat;
  background-position: center left;
}
.houses-item__sale-close:before {
  content: "Дом строится";
  padding-left: 30px;
  background: url("icons/houses-item__sale-close.png");
  background-repeat: no-repeat;
  background-position: center left;
}
.houses-item__map {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 15px;
  top: 5px;
  background: url("icons/houses-item__map.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  border: none;
}
.houses-map-block {
  min-width: 640px;
  min-height: 480px;
  display: none;
}
.houses-item__info {
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 15px;
  box-sizing: border-box;
}
.houses-item__title {
  font-weight: bold;
  font-size: 1.125rem;
}
.houses-item__price {
  color: #0074be;
  font-weight: bold;
  font-size: 0.9375rem;
}
.houses-item__text {
  font-size: 0.9375rem;
  margin-top: 10px;
  margin-bottom: 15px;
}
.houses-item__button {
  background: #ff7100;
  padding: 10px;
  border: none;
  color: #fff;
  margin-right: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
}
.houses-item__button:hover {
  background: #fe811e;
}
.houses-item__phone {
  display: inline-block;
}
.houses-item__phone:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -1px;
  vertical-align: middle;
  background: url("icons/houses-item__phone.png");
  background-repeat: no-repeat;
  background-position: center left;
}
.houses-item__phone-link {
  border: none;
  color: #999;
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.more-price__item {
  display: flex;
  font-size: 0.9375rem;
}
.more-price__square {
  flex-basis: 120px;
  white-space: nowrap;
}
.more-price__divider {
  flex-basis: 25%;
  margin-left: 5px;
  margin-right: 5px;
  height: 18px;
  border-bottom: 1px dotted #000;
}
.more-price__price {
  flex-basis: 130px;
  white-space: nowrap;
}
/* ------------- Квартиры на карте ------------- */
.houses-on-map {
  background: #31475d;
  padding-top: 20px;
}
.houses-on-map__title {
  text-align: center;
  color: #fff;
}
.houses-on-map__2gis {
  width: 100%;
  height: 600px;
}
/* ------------- Главная форма ------------- */
.main-form-block {
  background: url("images/form-background.png");
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center center;
  background-size: cover;
}
.main-form-top {
  background: url("images/main-form-top.png");
  padding: 20px;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
}
.main-form-bottom {
  background: url("images/main-form-bottom.png");
  padding: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
}
.main-form-top__title {
  font-size: 2.125rem;
  line-height: 1.2;
  color: #31475d;
  text-align: center;
}
.main-form-top__subtitle {
  text-align: center;
  color: #554c4c;
  font-size: 1.375rem;
}
.main-form-top__form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}
.main-form-top__left {
  flex-basis: 60%;
  padding-right: 15px;
}
.main-form-top__right {
  flex-basis: 40%;
  padding-left: 15px;
}
.main-form-top input {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 1rem;
  border-radius: 3px;
}
.main-form-bottom input {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 1rem;
  border-radius: 3px;
  font-family: 'Open Sans';
}
.main-form-top textarea {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 1rem;
  border-radius: 3px;
  resize: none;
  font-family: 'Open Sans';
}
.main-form-top__message {
  width: 100%;
  height: 200px;
  margin-top: 1px;
}
.main-form-top__mail {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Open Sans';
}
.main-form-top__phone {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Open Sans';
}
.main-form-top__submit {
  background: #ff7100;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #c15906;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
}
.main-form-top__submit:hover {
  background: #fe811e;
}
.main-form-bottom__title {
  font-size: 2.125rem;
  line-height: 1.2;
  color: #31475d;
  text-align: center;
}
.main-form-bottom__form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 60px;
}
.main-form-consultant {
  display: flex;
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 40px;
}
.main-form-consultant__photo {
  flex-basis: 130px;
}
.main-form-consultant__img {
  border-radius: 50%;
}
.main-form-consultant__info {
  margin-left: 30px;
}
.main-form-consultant__name {
  font-size: 1.25rem;
}
.main-form-consultant__text {
  font-style: italic;
  font-size: 0.9345rem;
  font-weight: 300;
  margin-top: 5px;
}
.main-form-consultant__phone {
  margin-top: 5px;
}
.main-form-bottom__form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
}
.main-form-bottom__phone {
  flex-basis: 65%;
  height: 55px;
  font-family: 'Open Sans';
}
.main-form-bottom__submit {
  background: #ff7100;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #c15906;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
}
.main-form-bottom__submit:hover {
  background: #fe811e;
}
.main-form-bottom__subtitle {
  text-align: center;
  margin-top: 30px;
}
/* ------------- Экстра ------------- */
.extra {
  background: #31475d;
  padding: 20px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(to bottom, #fff, 45%, #31475d 45%);
}
.extra:before {
  content: "";
  position: absolute;
  display: block;
  margin-left: -20px;
  z-index: 0;
  width: 100%;
  height: 900px;
  margin-top: 100px;
  background: url("images/extra-pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.extra-tour {
  background: #f2f5f9;
  display: flex;
  position: relative;
  z-index: 1;
}
.extra-tour__content {
  flex-basis: 40%;
  padding: 40px;
  box-sizing: border-box;
}
.extra-tour__thumbnail {
  flex-basis: 60%;
}
.extra-tour__title {
  font-size: 1.625rem;
  line-height: 1.2;
}
.extra-tour__text {
  margin-top: 10px;
}
.extra-tour__img {
  width: 100%;
}
.extra-tour__submit {
  background: #ff7100;
  padding: 20px;
  border: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
}
.extra-tour__submit:hover {
  background: #fe811e;
}
.extra-cards {
  display: flex;
  margin-top: 23px;
  min-height: 570px;
  position: relative;
  z-index: 1;
}
.extra-economy {
  background: #f2f5f9 url("images/extra-money.png");
  background-repeat: no-repeat;
  background-position: 100px 160%;
  padding: 40px;
  flex-basis: 49%;
  box-sizing: border-box;
}
.extra-economy__title {
  font-size: 1.625rem;
  line-height: 1.2;
}
.extra-economy__text {
  margin-top: 10px;
  max-width: 70%;
}
.extra-economy__submit {
  background: #ff7100;
  padding: 20px;
  border: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  width: 200px;
}
.extra-economy__submit:hover {
  background: #fe811e;
}
.extra-gift {
  background: #f2f5f9 url("images/extra-gift.png");
  background-repeat: no-repeat;
  background-position: 120% 200%;
  padding: 40px;
  flex-basis: 49%;
  margin-left: 2%;
  box-sizing: border-box;
}
.extra-gift__title {
  font-size: 1.625rem;
  line-height: 1.2;
}
.extra-gift__text {
  margin-top: 10px;
  max-width: 70%;
}
.extra-gift__submit {
  background: #ff7100;
  padding: 20px;
  border: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  width: 200px;
  display: inline-block;
}
.extra-gift__submit:hover {
  background: #fe811e;
}
.extra-advantages {
  display: flex;
  margin-top: 40px;
}
.extra-advantages .advantages__title {
  color: #fff;
}
.extra-advantages .advantages__text {
  color: #fff;
  font-size: 0.9375rem;
}
.extra-advantages .advantages__button {
  color: #fff;
  background: #1eaae9;
  border: none;
  border-bottom: 2px solid #0078c4;
}
.extra-advantages .advantages__button:hover {
  background: #0078c4;
}
.advantages__icon.icon-4 {
  background: url("icons/advantages__icon4.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__icon.icon-5 {
  background: url("icons/advantages__icon5.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__icon.icon-6 {
  background: url("icons/advantages__icon6.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* ------------- Банки ------------- */
.banks {
  padding: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
  text-align: center;
}
.banks__title {
  color: #31475d;
}
/* ------------- Предложения ------------- */
.offers-block {
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  background: #f2f5f9;
  position: relative;
}
.offers-block__title {
  text-align: center;
  color: #31475d;
  width: 1170px;
  margin: 0 auto;
}
.offers {
  width: 1170px;
  margin-top: 30px;
}
.offers__item {
  padding: 15px;
  text-align: center;
  height: 400px;
  outline: none;
}
.offers-prev {
  background: #fff;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  z-index: 100000;
  top: 70px;
  left: -10px;
  cursor: pointer;
}
.offers-prev:before {
  content: "<";
  font-family: 'Neo Sans Pro';
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: 14px;
  font-size: 2rem;
  line-height: 1;
}
.offers-next {
  background: #f46709;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  z-index: 100000;
  top: 70px;
  right: -11px;
  cursor: pointer;
}
.offers-next:before {
  content: ">";
  font-family: 'Neo Sans Pro';
  position: absolute;
  display: block;
  color: #fff;
  transform: rotate(-45deg);
  margin-top: 7px;
  margin-left: 17px;
  font-size: 2rem;
  line-height: 1;
}
.offers__content {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.offers__title {
  font-weight: bold;
  margin-bottom: 10px;
}
.offers__square {
  font-size: 0.9375rem;
  margin-bottom: 10px;
}
.offers__price {
  color: #0085c1;
  font-weight: bold;
  margin-bottom: 10px;
}
.offers__button {
  background: transparent;
  border: 2px solid #0085c1;
  border-radius: 3px;
  color: #0085c1;
  font-weight: 1rem;
  font-weight: bold;
  width: 70%;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.1s;
}
.offers__button:hover {
  background: #0085c1;
  color: #fff;
}
/* ------------- Отзывы ------------- */
.feedback-block {
  padding: 20px;
  padding-bottom: 40px;
  background: url("icons/gift-background.png");
  background-repeat: repeat-x;
}
.feedback-block__title {
  color: #fff;
  text-align: center;
}
.feedback-prev {
  background: #efefef;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  z-index: 100000;
  top: 280px;
  left: -25px;
  cursor: pointer;
}
.feedback-prev:before {
  content: "<";
  font-family: 'Neo Sans Pro';
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: 14px;
  font-size: 2rem;
  line-height: 1;
}
.feedback-next {
  background: #f46709;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  z-index: 100000;
  top: 280px;
  right: -25px;
  cursor: pointer;
}
.feedback-next:before {
  content: ">";
  font-family: 'Neo Sans Pro';
  position: absolute;
  display: block;
  color: #fff;
  transform: rotate(-45deg);
  margin-top: 7px;
  margin-left: 17px;
  font-size: 2rem;
  line-height: 1;
}
.feedback {
  background: #fff;
  box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.4);
}
.feedback__item {
  height: 450px;
  outline: none;
}
.feedback__content {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
}
.feedback__left {
  flex-basis: 30%;
  margin-right: 60px;
}
.feedback__thumbnail {
  width: 130px;
}
.feedback__img {
  border-radius: 50%;
}
.feedback__title {
  font-size: 1.3125rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.feedback__title {
  margin-bottom: 20px;
}
.feedback__text {
  margin-bottom: 20px;
}
.feedback__name {
  font-style: italic;
  font-weight: 300;
}
/* ------------- Сео-блок ------------- */
.seo-block {
  padding: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.seo-block__title {
  color: #31475d;
  text-align: center;
}
.seo-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.seo-cards__item {
  flex-basis: 50%;
  width: 50%;
  position: relative;
}
.seo-cards__item_gray {
  flex-basis: 50%;
  background: #f4f4f4;
  padding: 60px;
  box-sizing: border-box;
}
.seo-cards__item_plan {
  flex-basis: 50%;
  padding: 60px;
  box-sizing: border-box;
}
.seo-cards__image {
  width: 100%;
}
.seo-cards__title {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.seo-cards__text {
  font-weight: 300;
  line-height: 1.6;
}
.seo-cards__item_gray ul li {
  margin-bottom: 3px;
}
.seo-cards__item_gray ul li:before {
  content: "\2014";
  display: inline-block;
  margin-right: 5px;
}
.seo-cards__item_padding {
  flex-basis: 50%;
  padding-top: 60px;
  margin-top: -50px;
  padding-right: 60px;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
}
.seo-cards-prev {
  background: #efefef;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  z-index: 100000;
  top: 445px;
  left: 0px;
  cursor: pointer;
}
.seo-cards-prev:before {
  content: "<";
  font-family: 'Neo Sans Pro';
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: 14px;
  font-size: 2rem;
  line-height: 1;
}
.seo-cards-next {
  background: #f46709;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  z-index: 100000;
  top: 445px;
  left: 80px;
  cursor: pointer;
}
.seo-cards-next:before {
  content: ">";
  font-family: 'Neo Sans Pro';
  position: absolute;
  display: block;
  color: #fff;
  transform: rotate(-45deg);
  margin-top: 7px;
  margin-left: 17px;
  font-size: 2rem;
  line-height: 1;
}
.seo-cards__slider {
  width: 100%;
  position: relative;
  height: 415px;
}
.seo-cards__slider-subtext {
  color: #31475d;
  font-weight: 600;
  position: absolute;
  top: 455px;
  left: 330px;
  font-size: 1.1875rem;
}
/* ------------- Как связаться с нами ------------- */
.contact-us-block {
  background: #31475d;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.contact-us-block__title {
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}
.contact-us {
  display: flex;
  font-size: 1.125rem;
  color: #fff;
}
.contact-us__left {
  flex-basis: 50%;
  width: 50%;
  padding-left: 300px;
  box-sizing: border-box;
}
.contact-us__right {
  flex-basis: 50%;
  width: 50%;
}
.contact-us__phone {
  margin-bottom: 20px;
}
.contact-us__phone:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background-image: url("icons/contact-us__phone.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact-us__time {
  margin-bottom: 20px;
}
.contact-us__time:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background-image: url("icons/contact-us__time.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact-us__mail {
  margin-bottom: 20px;
}
.contact-us__mail:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background-image: url("icons/contact-us__mail.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact-us__map {
  margin-bottom: 20px;
}
.contact-us__map:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-image: url("icons/contact-us__map.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact-us__map-link {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.contact-us__recv {
  margin-bottom: 20px;
}
.contact-us__recv:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background-image: url("icons/contact-us__recv.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact-us__recv-link {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
/* ------------- Подвал ------------- */
.footer-block {
  padding: 20px;
  padding-top: 40px;
  background: #f6f8fb;
}
.footer {
  display: flex;
  margin-bottom: 40px;
  font-size: 0.875rem;
}
.footer__logo {
  flex-basis: 25%;
  margin-top: 10px;
  background-image: url("icons/main-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 255px;
  height: 60px;
}
.footer__copyrights {
  flex-basis: 25%;
  font-size: 0.875rem;
}
.footer__contacts {
  flex-basis: 25%;
}
.footer__phone {
  margin-bottom: 5px;
}
.footer__phone-link {
  font-size: 1.125rem;
  font-weight: bold;
  border-bottom: none;
  line-height: 1;
}
.footer_mail {
  margin-bottom: 5px;
}
.footer__mail-link {
  color: #0690d1;
  border-bottom: none;
}
.footer__adress {
  margin-top: 5px;
}
.footer__rights {
  flex-basis: 25%;
}
.footer__partners {
  font-size: 1rem;
  margin-top: -5px;
}
.footer__partners-link {
  color: #0081ba;
  font-weight: bold;
  border-bottom: 1px dotted #0081ba;
}
.footer__developer {
  margin-top: 20px;
}
.footer__developer-link {
  color: #0081ba;
  border-bottom: none;
}
.creditals {
  border-top: 1px solid #ebebeb;
  padding: 20px;
  box-sizing: border-box;
  color: #999;
  font-size: 0.8125rem;
}
/* ------------- Модалы ------------- */
.scrolltop__button {
  position: fixed;
  background: #ff7100;
  z-index: 100000;
  right: 0;
  bottom: 80px;
  border: none;
  color: #fff;
  padding: 25px;
  border-radius: 10px 0 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.825rem;
  text-align: center;
}
.scrolltop__button img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.screen-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100000000;
  transition-duration: 0.9s;
}
.form__close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background: url("icons/form-close.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
}
.form__close:hover {
  opacity: 1;
}
/* ------------- Шаговая форма ------------- */
.main-search-form {
  display: none;
  background: #f8fcff;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 600px;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.main-search-form__description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
}
.main-search-form__steps {
  font-size: 1.375rem;
  font-weight: bold;
  color: #ff5910;
  text-align: center;
  margin-top: -10px;
}
.main-search-form__title {
  color: #31475d;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.main-search-form__title-screen-2 {
  margin-top: 90px;
}
.main-search-form__title-screen-3 {
  margin-top: 60px;
}
.main-search-form__title-screen-4 {
  margin-top: 60px;
}
.main-search-form__title-screen-5 {
  margin-top: 30px;
}
.main-search-form__title-screen-6 {
  margin-top: 60px;
}
.main-search-form__screen {
  margin-top: 20px;
}
.main-search-form__screen.invisible {
  display: none;
}
.main-search-form__checkboxes {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.main-search-form__checkboxes-left {
  flex-basis: 50%;
}
.main-search-form__checkboxes-right {
  flex-basis: 50%;
}
.main-search-form__label {
  font-size: 0.9375rem;
  display: block;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 15px;
  margin-bottom: 20px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border: 1px solid #ebebeb;
  margin-right: 10px;
  margin-top: -2px;
  background: #fff;
}
input[type="checkbox"]:checked + label:before {
  background: #fff url("icons/checkbox.png");
  background-repeat: no-repeat;
}
.main-search-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 40px;
}
.main-search-form__button:hover {
  background: #fe6f31;
}
.main-search-form__button_prev {
  font-size: 0.875rem;
  font-weight: bold;
  background: transparent;
  border: none;
}
.main-search-form__button_prev:before {
  content: "";
  display: inline-block;
  border: none;
  width: 13px;
  height: 23px;
  background: url("icons/prev-step.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
  vertical-align: middle;
}
.main-search-form__button_prev span {
  border-bottom: 1px dotted #000;
  padding-bottom: 1px;
}
.main-search-form__subinfo {
  text-align: center;
  margin-top: 50px;
}
.main-search-form__room-checkboxes {
  text-align: center;
}
.main-search-form__room-checkboxes li {
  display: inline-block;
  padding: 10px;
}
.main-search-form__room-label {
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  vertical-align: top;
  background: #fff;
  border: 3px solid #ebebeb;
  font-size: 1.5rem;
  text-align: center;
  line-height: 54px;
  cursor: pointer;
  color: #31475d;
}
input[type="checkbox"].main-search-form__room-checkbox + label:before {
  content: "";
  opacity: 0;
  display: none;
}
input[type="checkbox"].main-search-form__room-checkbox:checked + label {
  background: #ff5910;
  border-color: #ff5910;
  color: #fff;
}
.main-search-form__buttons {
  display: flex;
  width: 70%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  margin: auto;
}
.main-search-form__button_prev {
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 30px;
}
.main-search-form__input-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: #ff5910;
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 5px;
}
input.main-search-form__input-square {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 3px;
  width: 200px;
  font-family: 'Open Sans';
  margin-bottom: 20px;
}
.main-search-form__input-price {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 3px;
  font-family: 'Open Sans';
  width: 200px;
}
.main-search-form__title-screen-3 li {
  width: 300px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}
.main-search-form__title-screen-3 ul {
  margin-top: 30px;
}
.main-search-form__input-prefixes {
  font-size: 1.25rem;
  padding: 5px;
  padding-left: 10px;
  display: inline-block;
}
.main-search-form__title-screen-4 ul {
  text-align: left;
  width: 250px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.main-search-form__screen-6 ul {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-search-form__wait {
  display: block;
  width: 44px;
  height: 54px;
  margin: 0 auto;
  margin-top: 200px;
  background: url("icons/main-search-form__wait.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.main-search-form__input-mail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.main-search-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.main-search-form__input-subfixes {
  font-size: 0.8125rem;
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
.main-search-form__screen-6 .main-search-form__description {
  margin-top: -30px;
}
/* ------------- Форма - получение планировок квартир в наличии ------------- */
.get-plans-form {
  display: none;
  background: #f8fcff;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 600px;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.get-plans-form__description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
}
.get-plans-form__sub-description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
  margin-top: 60px;
}
.get-plans-form__title {
  color: #31475d;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.get-plans-form__input-mail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
}
.get-plans-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.get-plans-form__input-subfixes {
  font-size: 0.8125rem;
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
.get-plans-form-content {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.get-plans-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 80px;
}
.get-plans-form__button:hover {
  background: #fe6f31;
}
/* ------------- Форма - узнать подробности про налоговый вычет и экономию ------------- */
.nalog-economy-form {
  display: none;
  background: #f8fcff;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 600px;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.nalog-economy-form__description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
}
.nalog-economy-form__sub-description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
  margin-top: 60px;
}
.nalog-economy-form__title {
  color: #31475d;
  font-size: 1rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.nalog-economy-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.nalog-economy-form-content {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.nalog-economy-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 80px;
}
.nalog-economy-form__button:hover {
  background: #fe6f31;
}
/* ------------- Форма - подборка эксклюзивных предложений от застройщиков ------------- */
.exclusive-offers-form {
  display: none;
  background: #f8fcff;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 600px;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.exclusive-offers-form__description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
}
.exclusive-offers-form__sub-description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
  margin-top: 60px;
}
.exclusive-offers-form__title {
  color: #31475d;
  font-size: 1.625rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.exclusive-offers-form__input-mail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.exclusive-offers-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.exclusive-offers-form__input-subfixes {
  font-size: 0.8125rem;
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
.exclusive-offers-form-content {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.exclusive-offers-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 80px;
}
.exclusive-offers-form__button:hover {
  background: #fe6f31;
}
/* ------------- Форма - запись на экскурсию ------------- */
.get-excursion-form {
  display: none;
  background: url("images/get-excursion-form.png");
  background-position: center center;
  background-size: cover;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 80vh;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.get-excursion-form__description {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
}
.get-excursion-form__sub-description {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
  margin-top: 60px;
}
.get-excursion-form__title {
  color: #fff;
  font-size: 1.625rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.get-excursion-form__input-mail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.get-excursion-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.get-excursion-form__input-subfixes {
  font-size: 0.8125rem;
  display: block;
  text-align: left;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 20px;
}
.get-excursion-form-content {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.get-excursion-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 80px;
}
.get-excursion-form__button:hover {
  background: #fe6f31;
}
.get-excursion-form__sub-description {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
  margin-top: 60px;
}
/* ------------- Форма - запрос ставок по ипотеке ------------- */
.get-credit-rates-form {
  display: none;
  background: #f8fcff;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 80vh;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.get-credit-rates-form__description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
}
.get-credit-rates-form__sub-description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
  margin-top: 60px;
}
.get-credit-rates-form__title {
  color: #31475d;
  font-size: 1.625rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.get-credit-rates-form__input-mail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.get-credit-rates-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.get-credit-rates-form__input-subfixes {
  font-size: 0.8125rem;
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
.get-credit-rates-form-content {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.get-credit-rates-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 80px;
}
.get-credit-rates-form__button:hover {
  background: #fe6f31;
}
/* ------------- Форма - запрос ставок по ипотеке ------------- */
.get-gift-form {
  display: none;
  background: #f8fcff url("images/gift-sert.png");
  background-repeat: no-repeat;
  background-position: center -20px;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 80vh;
  z-index: 1000000000;
  box-shadow: 0px 10px 30px 15px rgba(0,0,0,0.05);
  transition-duration: 0.3s;
}
.get-gift-form__description {
  text-align: center;
  font-size: 1.625rem;
  color: #ff5910;
  font-weight: bold;
}
.get-gift-form__sub-description {
  text-align: center;
  color: #31475d;
  font-size: 1.25rem;
  margin-top: 60px;
}
.get-gift-form__title {
  color: #31475d;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.get-gift-form__input-name {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
}
.get-gift-form__input-mail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
}
.get-gift-form__input-phone {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  width: 320px;
  font-family: 'Open Sans';
}
.get-gift-form__input-subfixes {
  font-size: 0.8125rem;
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
.get-gift-form-content {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.get-gift-form__button {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  background: #ff5910;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #c15906;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 80px;
}
.get-gift-form__button:hover {
  background: #fe6f31;
}
.get-gift-form__wait {
  background: #f8fcff;
  display: none;
  position: absolute;
  width: 100%;
  margin-top: -30px;
  margin-left: -30px;
  height: 100%;
  z-index: 1000;
}
.get-gift-form__wait-icon {
  display: block;
  width: 44px;
  height: 54px;
  margin: 0 auto;
  margin-top: 200px;
  background: url("icons/main-search-form__wait.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.get-gift-form__title_wait {
  color: #31475d;
  font-size: 1.625rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
