@media (max-width 1366px)
	.get-gift-form
		min-width 1024px
		max-width 1024px
		min-height 600px
		padding-bottom 20px
	.get-gift-form__gift-inputs ul
		width 100%
		text-align center
		max-width 1024px
		margin-top -10px
	.get-gift-form__gift-inputs ul li
		margin 10px
		display inline-block
	.get-gift-form__input-name
		width 100%
	.get-gift-form__input-mail
		width 100%
	.get-gift-form__input-phone
		width 100%
	.get-gift-form__gift-list ul
		display flex
		flex-wrap wrap
		max-width 1024px
		margin 0 auto
	.get-gift-form__gift-list ul li
		flex-basis 33.33333%
		font-size 0.9375rem
		padding 10px
		margin-bottom 0
		box-sizing border-box
		&:before
			content ""
			display inline-block
			vertical-align middle
			margin-right 5px
			margin-top -2px
			width 20px
			height 20px
			background url(icons/checkbox.png)
			background-repeat no-repeat
			background-size contain
	.get-gift-form__title
		font-size 1rem
	.get-gift-form__description
		font-size 1.5rem
	.get-gift-form__gift-list span
		font-size 1.25rem
	.get-gift-form-content
		margin-top 10px
		margin-bottom 20px
	.get-gift-form__sub-description
		margin-top 0
		margin-bottom -10px
	.get-gift-form__button
		margin-top -15px




@media (max-width 1280px)
	.head-menu__item
		padding-left 10px
		padding-right 10px
		font-size 0.9375rem
	.main-info-filter
		flex-wrap wrap
	.main-info-filter__complex
		flex-basis 70%
		margin-right 0
		margin-bottom 30px
	.main-info-filter__select
		width 90%
	.main-info-filter__rooms
		flex-basis 30%
		margin-right 0
		margin-bottom 30px
	.main-info-filter__input
		width 90%
		max-width 80%
	.main-info-filter__square
		flex-basis 35%
		margin-right 0
	.main-info-filter__price
		flex-basis 35%
		margin-right 0
	.main-info-filter__submit
		flex-basis 30%
		margin-right 0







@media (max-width 1140px)
	h1
		font-size 2rem
	.main-info-content__title span
		font-size 1.8rem
		margin-top 10px
	h2
		font-size 1.6rem
	.header-logo
		float none
		margin-bottom 20px
		width 200px
		background-size contain
	.header-contacts
		float none
	.header-contacts__adress
		margin-bottom 20px
	.header-contacts__time
		margin-bottom 20px
	.header-contacts__phone
		margin-bottom 20px
	.main-form-top__title
		font-size 1.6rem
	.head
		display none
	.adaptive-menu-burger
		display block
	.main-info-image
		display none
	.main-info-block
		background #fff
	.main-info-content
		flex-basis 100%
	.gifts__title
		width 100%
	.footer__copyrights
		padding-left 20px
		box-sizing border-box

@media (max-width 1024px)
	.advantages
		flex-wrap wrap
	.extra-advantages
		flex-wrap wrap
	.advantages__item
		flex-basis 50%
		margin 0 auto
		margin-bottom 80px
	.gifts-block
		background #7B625D
	.gifts-boxes
		display block
	.gifts-boxes__item
		margin 0 auto
	.houses-item
		flex-basis 50%
	.main-form-block
		padding 0
		background #fff
	.main-form-top__form
		display block
		width 90%
	.main-form-top__left
		padding 0
		margin-bottom 20px
	.main-form-top__right
		padding 0
		margin-bottom 20px
	.main-form-consultant
		display flex
		width 90%
	.feedback-block
		background #7B625D
	.feedback__item
		height auto
		padding-bottom 40px
	.feedback__content
		width 80%
		display block
	.feedback__thumbnail
		width 80px
		margin-bottom 20px
	.feedback-prev
		top 130px
		right 80px
		left auto
	.feedback-next
		top 130px
	.seo-cards
		display block
	.seo-cards__item
		display none
	.seo-cards__item_plan
		display none
	.seo-cards__item_gray
		padding 20px
	.seo-cards__item_padding
		margin-top 0
	.contact-us__left
		padding-left 0
	.get-gift-form_var-1
		min-width auto
		max-width 100%
		box-sizing border-box
		min-height 1150px
		height auto
		padding-bottom 20px
	.get-gift-form_var-2
		min-width auto
		max-width 100%
		box-sizing border-box
		min-height 1150px
		height auto
		padding-bottom 20px
	.get-gift-form_var-3
		min-width auto
		max-width 100%
		box-sizing border-box
		min-height 1150px
		height auto
		padding-bottom 20px
	.get-gift-form__description
		width 100%
	.get-gift-form-content
		width 100%
	.get-gift-form__gift-inputs ul
		width 100%
		text-align center
		max-width 1024px
		margin-top -10px
		margin-bottom 20px
	.get-gift-form__gift-inputs ul li
		margin 10px
		display block
	.get-gift-form__input-name
		width 100%
	.get-gift-form__input-mail
		width 100%
	.get-gift-form__input-phone
		width 100%
	.get-gift-form__gift-list ul
		display flex
		flex-wrap wrap
		max-width 100%
		margin 0 auto
	.get-gift-form__gift-list ul li
		flex-basis 100%
		font-size 0.9375rem
		padding 10px
		margin-bottom 0
		box-sizing border-box
		&:before
			content ""
			display inline-block
			vertical-align middle
			margin-right 5px
			margin-top -2px
			width 20px
			height 20px
			background url(icons/checkbox.png)
			background-repeat no-repeat
			background-size contain
	.get-gift-form__title
		font-size 1rem
	.get-gift-form__description
		font-size 1.5rem
	.get-gift-form__gift-list span
		font-size 1.25rem
	.get-gift-form-content
		margin-top 10px
		margin-bottom 20px
	.get-gift-form__sub-description
		margin-top 0
		margin-bottom -10px
	.get-gift-form__button
		margin-top 30px


@media (max-width 960px)
	.extra-tour
		flex-wrap wrap
	.extra-tour__content
		flex-basis 100%
		padding 20px
	.extra-tour__thumbnail
		flex-basis 100%
	.footer
		display block
	.footer__logo
		margin-bottom 20px
	.footer__copyrights
		padding-left 0px
		margin-bottom 20px
	.footer__contacts
		margin-bottom 20px
	.main-search-form
		width 100%
		max-width auto
		height 900px
	.main-search-form__title
		font-size 1.5rem
		margin-top 30px
	.main-search-form__checkboxes
		display flex
		flex-wrap wrap
		width 250px
		margin 0 auto
		margin-top 5vh
	.main-search-form__checkboxes-left
		flex-basis 100%
	.main-search-form__checkboxes-right
		flex-basis 100%
	.main-search-form__buttons
		display block
		width 100%
		left 0
		right 0
		bottom 70px
		margin auto
		margin-top 30px
	.main-search-form__button_prev
		margin-right 0px
		margin-left 0px
		width 240px
		white-space nowrap
		margin 0 auto
		display block
		margin-top 80px
	.get-plans-form__title
		font-size 1.5rem
	.get-plans-form__room-label
		width 50px
		height 50px
		line-height 40px
	.get-plans-form__button
		margin-top 40px
	.get-plans-form__sub-description
		margin-top 30px
	.nalog-economy-form
		height 800px
	.nalog-economy-form__title
		width 100%
	.nalog-economy-form__description
		margin-bottom -30px

	.exclusive-offers-form
		height 700px
	.get-excursion-form
		height 700px
	.get-excursion-form-content
		width 240px
	.get-excursion-form__input-phone
		width 240px
	.get-credit-rates-form
		height 700px
	.get-partnership-form
		height 700px
	.get-individual-partnership-form
		height 700px



@media (max-width 768px)
	.main-info-content__subtitle
		width 100%
	.advantages__item
		flex-basis 80%
	.houses-item
		flex-basis 100%
	.main-form-bottom__form
		width 100%
		display block
	.main-form-bottom__phone
		display block
		width 80%
		margin 0 auto
		margin-bottom 20px
	.main-form-bottom__submit
		display block
		margin 0 auto
		margin-bottom 20px
	.extra
		background #31475d
	.extra-cards
		flex-wrap wrap
		margin-top 20px
	.extra-economy
		flex-basis 100%
		background #f2f5f9
		margin-bottom 20px
		padding 20px
	.extra-gift
		flex-basis 100%
		margin-left 0
		background #f2f5f9
		margin-bottom 20px
		padding 20px
	.contact-us
		display block
	.contact-us__left
		width 80%
		margin 0 auto
	.contact-us__right
		width 80%
		margin 0 auto
	.creditals
		padding-left 0
		padding-right 0
	.main-info-filter__complex
		flex-basis 100%
		margin-right 0
		margin-bottom 30px
		margin-top 20px
	.main-info-filter__select
		width 100%
	.main-info-filter__rooms
		flex-basis 100%
		margin-right 0
		margin-bottom 30px
	.main-info-filter__input
		width 95%
		max-width 100%
	.main-info-filter__square
		flex-basis 100%
		margin-right 0
		margin-bottom 30px
	.main-info-filter__price
		flex-basis 100%
		margin-right 0
		margin-bottom 10px
	.main-info-filter__submit
		flex-basis 100%
		margin-right 0
		margin-bottom 30px




@media (max-width 480px)
	.advantages__item
		flex-basis 100%








