// Neo Sans Pro
@import url('fonts/neosanspro/font.css')
// Open Sans
@import url('fonts/opensans/font.css')
@import url('../js-libs/fancybox/css/jquery.fancybox.css')
@import url('//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')



$headblue = #31475d

html
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	font-family 'Open Sans'
	line-height 1.414
	font-weight normal
body
	padding 0
	margin 0
	min-width 280px
.clearfix:after{
	content "."
	display block
	height 0
	visibility hidden
	clear both
}
a, input, textarea, button, img
	outline none
ul,li
	margin 0
	padding 0
	list-style-type none
a
	color $headblue
	text-decoration none
	border-bottom 1px solid $headblue
	&:hover
		color #ff7100
img
	width auto
	max-width 100%
button
	font-family 'Open Sans'
	cursor pointer
section
	box-sizing border-box
	width 100%
.layout
	max-width 1170px
	margin 0 auto
	position relative
h1
	font-family 'Neo Sans Pro'
	font-size 2.75rem
	font-weight normal
h2
	font-family 'Neo Sans Pro'
	font-size 2.5rem
	font-weight normal
	line-height 1.2


/* ------------- Топ-фикс ------------- */
.head
	background $headblue
	padding 15px 20px 15px 20px
	box-sizing border-box
.head-menu
	box-sizing border-box
	text-align center
.head-menu__item
	display inline-block
	padding-left 10px
	padding-right 10px
	&:first-child
		padding-left 0
	&:last-child
		padding-right 0
.head-menu__link
	color #fff
	border none
	&:hover
		color #ff7100
.head-menu__item_burger
	display none
	padding 0
.head-menu__submit
	border none
	color #fff
	text-transform uppercase
	font-weight bold
	padding 10px 15px
	background #ff7100
	border-radius 2px
	border-bottom 2px solid #c15906
	cursor pointer
	&:hover
		background #fe811e


/* ------------- Топ-маню-фикс ------------- */
.head-fixed
	background $headblue
	padding 15px 20px 15px 20px
	display none
	position fixed
.head-menu-fixed
	box-sizing border-box
	text-align center
	display none
.head-menu-fixed__item
	display inline-block
	padding-left 5px
	padding-right 5px
	&:first-child
		padding-left 0
	&:last-child
		padding-right 0
.head-menu-fixed__link
	color #fff
	border none
/* ------------- Шапка ------------- */

.header
	padding 20px
	box-sizing border-box
.header-logo
	background-image url(icons/main-logo.svg)
	background-repeat no-repeat
	background-size cover
	width 255px
	height 60px
	float left
.header-contacts
	float right
	font-size 1.125rem
	margin-top 10px
.header-contacts__link
	color #000
	border-bottom none
.header-contacts__link_adress
	color #000
	border-bottom none
	&:hover
		border-color #ff7100
.header-contacts__adress
	display inline-block
	margin-right 30px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 30px
		height 30px
		margin-right 15px
		background-image url(icons/map-icon.png)
		background-repeat no-repeat
		background-size cover
.header-contacts__time
	display inline-block
	margin-right 30px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 30px
		height 30px
		margin-right 15px
		background-image url(icons/clock-icon.png)
		background-repeat no-repeat
		background-size cover
.header-contacts__phone
	display inline-block
	margin-right 0px
	font-weight 600
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 30px
		height 30px
		margin-right 15px
		background-image url(icons/phone-icon.png)
		background-repeat no-repeat
		background-size cover

/* ------------- Инфобанер на главной ------------- */
.main-info-block
	background url(images/wall-pattern.png)
	position relative
	padding-left 20px
	padding-right 20px
	box-sizing border-box
.main-info
	position relative
	display flex
	width 100%
	background #f8fcff
.main-info-image
	flex-basis 50%
	background url(images/main-info-image-1.png)
	background-size contain
	background-repeat no-repeat
	background-position center left
.main-info-content
	flex-basis 50%
	text-align center
	box-sizing border-box
	background #f8fcff
	padding 20px
	box-sizing border-box
.main-info-content__title
	color #31475d
	line-height 1.1
.main-info-content__title
	span
		color #ff7100
		line-height 1.1
		font-size 2.4375rem
.main-info-content__subtitle
	font-size 1.5rem
	line-height 1.2
	color #31475d
	font-weight 600
	width 60%
	margin 0 auto
	margin-bottom 60px
	margin-top -10px
.main-info-content__button
	background #ff7100 url(icons/main-info-content__button.png)
	background-repeat no-repeat
	background-position 15px 13px
	margin-top 30px
	margin-bottom 30px
	padding 12px
	padding-left 60px
	padding-right 40px
	border none
	text-align left
	text-transform uppercase
	color #fff
	font-weight 600
	font-size 0.875rem
	line-height 1.4
	border-radius 2px
	border-bottom 2px solid #c15906
	cursor pointer
	&:hover
		background #fe811e url(icons/main-info-content__button.png)
		background-repeat no-repeat
		background-position 15px 13px

.main-info-filter
	background #0081ba
	padding 30px
	display flex
.main-info-filter__complex
	margin-right 30px
.main-info-filter__rooms
	margin-right 30px
	white-space nowrap
.main-info-filter__rooms li
	display inline-block
	margin-right 3px
.main-info-filter__square
	margin-right 30px
	white-space nowrap
.main-info-filter__price
	margin-right 30px
	white-space nowrap
.main-info-filter__label
	color #fff
	font-weight bold
	margin-top -15px
	margin-bottom 10px
.main-info-filter__input
	background #fff
	border-radius 3px
	border none
	font-size 1rem
	font-weight bold
	font-family 'Open Sans'
	padding 10px
	max-width 170px

.main-info-filter__number
	width 40px
	height 40px
	display block
	box-sizing border-box
	vertical-align top
	background #2bb5f7
	border 0px solid #ebebeb
	font-size 1.25rem
	text-align center
	line-height 40px
	cursor pointer
	color #fff

input[type="checkbox"].main-info-filter__checkbox + label
	&:before
		content ""
		opacity 0
		display none
input[type="checkbox"].main-info-filter__checkbox
	&:checked + label
		background #ff5910
		border-color #ff5910
		color #fff
.main-info-filter__subfix
	color #fff
	display inline-block
	margin-left 5px

.main-info-filter__button
	border none
	color #fff
	width 140px
	margin-top 17px
	text-transform uppercase
	font-weight bold
	padding 12px 15px
	background #ff7100
	border-radius 2px
	border-bottom 2px solid #c15906
	cursor pointer
	&:hover
		background #fe811e



.main-info-filter__select
	background #fff
	border-radius 3px
	border none
	font-size 1rem
	font-weight normal
	font-family 'Open Sans'
	padding 7px
	margin-top 1px
	width 260px

/* ------------- Преимущества ------------- */
.advantages-block
	padding 40px 20px
	padding-bottom 60px
	box-sizing border-box
.advantages
	display flex
.advantages__item
	flex-basis 33.333333333%
	text-align center
	padding 10px
.advantages__icon
	width 50px
	height 50px
	display block
	margin 0 auto
	margin-bottom 30px
.advantages__icon.icon-1
	background url(icons/advantages__icon1.png)
	background-repeat no-repeat
	background-size contain
.advantages__icon.icon-2
	background url(icons/advantages__icon2.png)
	background-repeat no-repeat
	background-size contain
.advantages__icon.icon-3
	background url(icons/advantages__icon3.png)
	background-repeat no-repeat
	background-size contain
.advantages__title
	font-size 1.375rem
	font-weight 600
	margin-bottom 10px
.advantages__text
	width 80%
	margin 0 auto
	margin-bottom 20px
.advantages__link
	color #0081ba
	text-transform uppercase
	font-size 0.8125rem
	font-weight bold
	border-bottom 1px dotted #0081ba
	&:hover
		border-color #ff7100
.advantages__button
	color #0081ba
	text-transform uppercase
	font-size 0.8125rem
	font-weight bold
	border 2px solid #0081ba
	background none
	border-radius 3px
	padding 20px 0px
	width 80%
	transition-duration .1s
	&:hover
		color #fff
		background #0081ba


/* ------------- Блок подарки ------------- */
.gifts-block
	padding 20px
	//background url(icons/gift-background.png)
	box-sizing border-box
	background: linear-gradient(to bottom, rgba(105,74,69,1) 1%,rgba(165,128,123,1) 100%);
.gifts__title
	text-align center
	color #fff
	width 60%
	margin 0 auto
	margin-top 30px
	margin-bottom 10px
.gifts__subtitle
	font-size 1.375rem
	color #cdb5b1
	text-align center
.gifts-boxes
	display flex
	margin 0 auto
	max-width 900px
	margin-top 50px
	text-align center
.gifts-boxes__item
	width 300px
	height 300px
	text-align center
	border-radius 50%
	cursor pointer
	position relative
	transition-duration .3s
	&:hover
		background rgba(255,255,255,0.15)
		box-shadow 0px 0px 40px 30px rgba(255,255,255,0.15)
.gifts-boxes__item.notactive
	opacity .3
.gifts-boxes__item.active
	transition: all .2s ease-in-out;
	transform scale(1.13)
.gift-visited .gifts-boxes__button
	display none
.gifts-boxes__img
	margin-top 20px
	transition: all .2s ease-in-out;
	width 240px
.gifts-box-scale-up
	transition: all .2s ease-in-out;
	transform scale(1.13)
.gifts-box-scale-down
	transition: all .2s ease-in-out;
	transform scale(0.87)
	cursor default
	opacity 0.3
.gifts-boxes__button
	font-size 0.875rem
	font-weight bold
	border none
	color #cdb5b1
	background none
	display block
	margin 0 auto
	width 160px
	padding 15px
	text-align center
	outline none
.gift-boxes__rules
	color #fff
	margin-top 60px
	margin-bottom 40px
	text-align center
	position relative


/* ------------- Блок подарки ------------- */
.houses-block
	padding 20px
	padding-bottom 60px
	box-sizing border-box
.houses-block__title
	color #31475d
	text-align center
	margin-bottom 10px
.houses-block__subtitle
	font-size 1.375rem
	color #666
	text-align center
.houses
	display flex
	margin-top 60px
	flex-wrap wrap
	margin-left -15px
	margin-right -15px
.houses-item
	flex-basis 33.33333333%
	padding 15px
	box-sizing border-box
.houses-item__thumbnail
	position relative
.houses-item__img
	width 100%
.houses-item-params
	position absolute
	bottom 0
	width 100%
	background rgba(0,0,0,0.4)
	color #fff
	padding 15px
	font-size 0.9375rem
	box-sizing border-box
	z-index 100
.houses-item__sale-open:before
	content "Дом сдан"
	padding-left 30px
	background url(icons/houses-item__sale-open.png)
	background-repeat no-repeat
	background-position center left
.houses-item__sale-close:before
	content "Дом строится"
	padding-left 30px
	background url(icons/houses-item__sale-close.png)
	background-repeat no-repeat
	background-position center left
.houses-item__map
	width 40px
	height 40px
	display block
	position absolute
	right 15px
	top 5px
	background url(icons/houses-item__map.png)
	background-repeat no-repeat
	background-position center center
	color transparent
	border none
.houses-map-block
	min-width 640px
	min-height 480px
	display none
.houses-item__info
	border 1px solid #ebebeb
	border-top none
	padding 15px
	box-sizing border-box
.houses-item__title
	font-weight bold
	font-size 1.125rem
.houses-item__price
	color #0074be
	font-weight bold
	font-size 0.9375rem
.houses-item__text
	font-size 0.9375rem
	margin-top 10px
	margin-bottom 15px
.houses-item__button
	background #ff7100
	padding 10px
	border none
	color #fff
	margin-right 20px
	font-size 0.75rem
	font-weight bold
	margin-bottom 15px
	text-transform uppercase
	border-radius 3px
	display inline-block
	&:hover
		background #fe811e
.houses-item__phone
	display inline-block
	&:before
		content ""
		display inline-block
		width 20px
		height 20px
		margin-top -1px
		vertical-align middle
		background url(icons/houses-item__phone.png)
		background-repeat no-repeat
		background-position center left
.houses-item__phone-link
	border none
	color #999999
	font-size 0.9375rem
	font-weight bold
	margin-bottom 25px
.more-price__item
	display flex
	font-size 0.9375rem
.more-price__square
	flex-basis 120px
	white-space nowrap
.more-price__divider
	flex-basis 25%
	margin-left 5px
	margin-right 5px
	height 18px
	border-bottom 1px dotted #000
.more-price__price
	flex-basis 130px
	white-space nowrap

/* ------------- Квартиры на карте ------------- */

.houses-on-map
	background #31475d
	padding-top 20px
	box-sizing border-box
.houses-on-map__title
	text-align center
	color #fff
.houses-on-map__2gis
	width 100%
	height 600px


/* ------------- Главная форма ------------- */
.main-form-block
	background url(images/form-background.png)
	padding 20px
	padding-top 60px
	padding-bottom 60px
	background-position center center
	background-size cover
	box-sizing border-box
.main-form-top
	background url(images/main-form-top.png)
	padding 20px
	box-sizing border-box
	background-position center center
	background-size cover
.main-form-bottom
	background url(images/main-form-bottom.png)
	padding 20px
	padding-bottom 60px
	box-sizing border-box
	background-position center center
	background-size cover
.main-form-top__title
	font-size 2.125rem
	line-height 1.2
	color #31475d
	text-align center
.main-form-top__subtitle
	text-align center
	color #554c4c
	font-size 1.375rem
.main-form-top__form
	display flex
	width 80%
	margin 0 auto
	margin-top 30px
	margin-bottom 60px
.main-form-top__left
	flex-basis 60%
	padding-right 15px
.main-form-top__right
	flex-basis 40%
	padding-left 15px
.main-form-top input
	background #fff
	border 1px solid #ccc
	padding 15px
	box-sizing border-box
	font-size 1rem
	border-radius 3px
.main-form-bottom input
	background #fff
	border 1px solid #ccc
	padding 15px
	font-size 1rem
	border-radius 3px
	font-family 'Open Sans'
.main-form-top textarea
	background #fff
	border 1px solid #ccc
	padding 15px
	font-size 1rem
	border-radius 3px
	resize none
	font-family 'Open Sans'
.main-form-top__message
	width 100%
	height 200px
	margin-top 1px
.main-form-top__mail
	width 100%
	margin-bottom 20px
	font-family 'Open Sans'
.main-form-top__phone
	width 100%
	margin-bottom 20px
	font-family 'Open Sans'
.main-form-top__submit
	background #ff7100
	padding 15px
	border none
	border-bottom: 2px solid #c15906;
	color #fff
	font-size 0.9375rem
	font-weight bold
	margin-bottom 15px
	text-transform uppercase
	border-radius 3px
	display inline-block
	&:hover
		background #fe811e
.main-form-bottom__title
	font-size 2.125rem
	line-height 1.2
	color #31475d
	text-align center
.main-form-bottom__form
	display flex
	width 80%
	margin 0 auto
	margin-top 0px
	margin-bottom 60px
.main-form-consultant
	display flex
	width 50%
	margin 0 auto
	border-bottom 1px solid rgba(0,0,0,0.2)
	padding-bottom 40px
.main-form-consultant__photo
	flex-basis 130px
.main-form-consultant__img
	border-radius 50%
.main-form-consultant__info
	margin-left 30px
.main-form-consultant__name
	font-size 1.25rem
.main-form-consultant__text
	font-style italic
	font-size 0.9345rem
	font-weight 300
	margin-top 5px
.main-form-consultant__phone
	margin-top 5px
.main-form-bottom__form
	width 50%
	margin 0 auto
	display flex
	margin-top 30px
.main-form-bottom__phone
	flex-basis 65%
	height 55px
	font-family 'Open Sans'
.main-form-bottom__submit
	background #ff7100
	padding 15px
	border none
	border-bottom: 2px solid #c15906;
	color #fff
	font-size 0.9375rem
	font-weight bold
	margin-bottom 15px
	margin-left 15px
	text-transform uppercase
	border-radius 3px
	display inline-block
	white-space nowrap
	&:hover
		background #fe811e
.main-form-bottom__subtitle
	text-align center
	margin-top 30px



/* ------------- Новости ------------- */
.news-block
	padding 20px
	padding-top 60px
	padding-bottom 80px
	box-sizing border-box
	position relative
.news-block__title
	text-align center
	color #31475d
	max-width 1170px
	margin 0 auto
	margin-bottom 40px
.news-block-item
	display flex
	border 1px solid #ebebeb
	margin-top 30px
.news-block-item__thumbnail
	max-width 370px
	flex-basis 30%
.news-block-item__image
	width 370px
.news-block-item__content
	padding 30px
	box-sizing border-box
	flex-basis 70%
.news-block-item__title
	font-size 1.25rem
	font-weight bold
	margin-bottom 10px
.news-block-item__text
	margin-bottom 5px
.news-block-item__more
	font-weight bold
	color #0074be
	margin-bottom 15px
.news-block-item__date
	color #666
	font-size 0.9375rem
.news-block-more
	background #ff7100
	padding 15px 25px
	border none
	border-bottom: 2px solid #c15906;
	color #fff
	font-size 0.9375rem
	font-weight bold
	margin 0 auto
	margin-top 60px
	text-transform uppercase
	border-radius 3px
	display block
	white-space nowrap
	&:hover
		background #fe811e

/* ------------- Экстра ------------- */
.extra
	background #31475d
	padding 20px
	position relative
	padding-top 60px
	padding-bottom 60px
	box-sizing border-box
	background linear-gradient(to bottom, #fff, 45%, #31475d 45%);
	&:before
		content ""
		position absolute
		display block
		margin-left -20px
		z-index 0
		width 100%
		height 900px
		margin-top 100px
		background url(images/extra-pattern.png)
		background-size cover
		background-repeat no-repeat
		background-position top center
.extra-tour
	background #f2f5f9
	display flex
	position relative
	z-index 1
.extra-tour__content
	flex-basis 40%
	padding 40px
	box-sizing border-box
.extra-tour__thumbnail
	flex-basis 60%
.extra-tour__title
	font-size 1.625rem
	line-height 1.2
.extra-tour__text
	margin-top 10px
.extra-tour__img
	width 100%
.extra-tour__submit
	background #ff7100
	padding 20px
	border none
	color #fff
	font-size 0.75rem
	font-weight bold
	margin-top 25px
	margin-bottom 15px
	text-transform uppercase
	border-radius 3px
	display inline-block
	&:hover
		background #fe811e
.extra-cards
	display flex
	margin-top 23px
	min-height 570px
	position relative
	z-index 1
.extra-economy
	background #f2f5f9 url(images/extra-money.png)
	background-repeat no-repeat
	background-position 100px 160%
	padding 40px
	flex-basis 49%
	box-sizing border-box
.extra-economy__title
	font-size 1.625rem
	line-height 1.2
.extra-economy__text
	margin-top 10px
	max-width 70%
.extra-economy__submit
	background #ff7100
	padding 20px
	border none
	color #fff
	font-size 0.75rem
	font-weight bold
	margin-top 25px
	margin-bottom 15px
	text-transform uppercase
	border-radius 3px
	display inline-block
	width 200px
	&:hover
		background #fe811e

.extra-gift
	background #f2f5f9 url(images/extra-gift.png)
	background-repeat no-repeat
	background-position 120% 200%
	padding 40px
	flex-basis 49%
	margin-left 2%
	box-sizing border-box
.extra-gift__title
	font-size 1.625rem
	line-height 1.2
.extra-gift__text
	margin-top 10px
	max-width 70%
.extra-gift__submit
	background #ff7100
	padding 20px
	border none
	color #fff
	font-size 0.75rem
	font-weight bold
	margin-top 25px
	margin-bottom 15px
	text-transform uppercase
	border-radius 3px
	width 200px
	display inline-block
	&:hover
		background #fe811e
.extra-advantages
	display flex
	margin-top 40px
.extra-advantages .advantages__title
	color #fff
.extra-advantages .advantages__text
	color #fff
	font-size 0.9375rem
.extra-advantages .advantages__button
	color #fff
	background #1eaae9
	border none
	border-bottom 2px solid #0078c4
	&:hover
		background #0078c4
.advantages__icon.icon-4
	background url(icons/advantages__icon4.png)
	background-repeat no-repeat
	background-size contain
.advantages__icon.icon-5
	background url(icons/advantages__icon5.png)
	background-repeat no-repeat
	background-size contain
.advantages__icon.icon-6
	background url(icons/advantages__icon6.png)
	background-repeat no-repeat
	background-size contain


/* ------------- Банки ------------- */
.banks
	padding 20px
	padding-bottom 60px
	box-sizing border-box
	text-align center
.banks__title
	color #31475d

/* ------------- Рекламный блок ------------- */
.adv-block
	padding 20px
	padding-top 60px
	padding-bottom 60px
	box-sizing border-box
	background url(images/adv-block.jpg)
	text-align center
	background-repeat no-repeat
	background-size cover
.adv-block__banner
	max-width 695px
/* ------------- Подписка на рассылку ------------- */
.subscription-block
	padding 20px
	padding-top 60px
	padding-bottom 60px
	box-sizing border-box
	background linear-gradient(to bottom, #694a45 1%, #a5807b 100%)
	text-align center
.subscription-form
	background #f9fcff
	padding 40px
.subscription-form__title
	font-size 1.5625rem
	font-weight bold
	max-width 70%
	margin 0 auto
	margin-bottom 20px
.subscription-form__subtitle
	font-size 1.25rem
	margin-bottom -10px
.subscription-form__inputs
	max-width 560px
	margin 0 auto
	margin-bottom 20px
	white-space nowrap
.subscription-form__input
	border 1px solid #ebebeb
	font-family 'Open Sans'
	border-radius 3px
	font-size 1rem
	background #fff
	padding 15px
	width 55%
	margin-right 30px
	display inline-block
	box-sizing border-box
.subscription-form__button
	width 40%
	box-sizing border-box
	background #ff7100
	padding 15px 25px
	border none
	border-bottom: 2px solid #c15906;
	color #fff
	font-size 0.9375rem
	font-weight bold
	margin 0 auto
	margin-top 60px
	text-transform uppercase
	border-radius 3px
	display inline-block
	white-space nowrap
	&:hover
		background #fe811e



/* ------------- Предложения ------------- */
.offers-block
	padding 20px
	padding-top 40px
	box-sizing border-box
	background #f2f5f9
	position relative
.offers-block__title
	text-align center
	color #31475d
	max-width 1170px
	margin 0 auto
.offers
	max-width 1170px
	margin-top 30px
.offers__item
	padding 15px
	text-align center
	height 400px
	outline none
.offers-prev
	background #efefef url(icons/carousel-prev.png)
	background-repeat no-repeat
	background-position 16px center
	width 50px
	height 50px
	border-radius 50%
	border none
	position absolute
	z-index 100000
	top 70px
	left 20px
	cursor pointer
.offers-next
	background #f46709 url(icons/carousel-next.png)
	background-repeat no-repeat
	background-position 20px center
	width 50px
	height 50px
	border-radius 50%
	border none
	position absolute
	z-index 100000
	top 70px
	right 20px
	cursor pointer
.offers__content
	background #fff
	padding 15px
	box-sizing border-box
.offers__title
	font-weight bold
	margin-bottom 10px
.offers__square
	font-size 0.9375rem
	margin-bottom 10px
.offers__price
	color #0085c1
	font-weight bold
	margin-bottom 10px
.offers__button
	background transparent
	border 2px solid #0085c1
	border-radius 3px
	color #0085c1
	font-weight 1rem
	font-weight bold
	width 70%
	padding 10px
	text-transform uppercase
	margin-top 10px
	margin-bottom 10px
	transition-duration .1s
	&:hover
		background #0085c1
		color #fff



/* ------------- Отзывы ------------- */

.feedback-block
	padding 20px
	padding-bottom 40px
	background url(icons/gift-background.png)
	background-repeat repeat-x
	box-sizing border-box
.feedback-block__title
	color #fff
	text-align center
.feedback-prev
	background #efefef url(icons/carousel-prev.png)
	background-repeat no-repeat
	background-position 16px center
	width 50px
	height 50px
	border-radius 50%
	border none
	position absolute
	z-index 100000
	top 230px
	left 25px
	cursor pointer
.feedback-next
	background #f46709 url(icons/carousel-next.png)
	background-repeat no-repeat
	background-position 20px center
	width 50px
	height 50px
	border-radius 50%
	border none
	position absolute
	z-index 100000
	top 230px
	right 25px
	cursor pointer
.feedback
	background #fff
	box-shadow 0px 10px 30px -10px rgba(0,0,0,0.4)
.feedback__item
	height 350px
	outline none
.feedback__content
	display flex
	width 70%
	margin 0 auto
	margin-top 70px
.feedback__left
	flex-basis 30%
	margin-right 60px
.feedback__thumbnail
	width 130px
.feedback__img
	border-radius 50%
.feedback__title
	font-size 1.3125rem
	font-weight bold
	margin-bottom 20px
.feedback__title
	margin-bottom 20px
.feedback__text
	margin-bottom 20px
.feedback__name
	font-style italic
	font-weight 300




/* ------------- Сео-блок ------------- */
.seo-block
	padding 20px
	padding-bottom 40px
	box-sizing border-box
.seo-block__title
	color #31475d
	text-align center
.seo-cards
	display flex
	flex-wrap wrap
	margin-top 40px
.seo-cards__item
	flex-basis 50%
	width 50%
	position relative
.seo-cards__item_gray
	flex-basis 50%
	background #f4f4f4
	padding 60px
	box-sizing border-box
.seo-cards__item_plan
	flex-basis 50%
	padding 60px
	box-sizing border-box
.seo-cards__image
	width 100%
.seo-cards__title
	font-size 1.625rem
	font-weight bold
	margin-bottom 30px
.seo-cards__text
	font-weight 300
	line-height 1.6
.seo-cards__item_gray ul li
	margin-bottom 3px
	&:before
		content "\2014"
		display inline-block
		margin-right 5px
.seo-cards__item_padding
	flex-basis 50%
	padding-top 60px
	margin-top -80px
	padding-right 60px
	box-sizing border-box
	border-top 1px solid #ebebeb
.seo-cards-prev
	background #efefef url(icons/carousel-prev.png)
	background-repeat no-repeat
	background-position 16px center
	width 50px
	height 50px
	border-radius 50%
	border none
	position absolute
	z-index 100000
	top 280px
	left 25px
	cursor pointer
.seo-cards-next
	background #f46709 url(icons/carousel-next.png)
	background-repeat no-repeat
	background-position 20px center
	width 50px
	height 50px
	border-radius 50%
	border none
	position absolute
	z-index 100000
	top 280px
	right 25px
	cursor pointer
.seo-cards__slider
	width 100%
	position relative
	height 415px
.seo-cards__slider-subtext
	color #31475d
	font-weight 600
	position absolute
	top 455px
	left 0px
	font-size 1.1875rem

/* ------------- Как связаться с нами ------------- */

.contact-us-block
	background #31475d
	padding 20px
	padding-top 40px
	padding-bottom 100px
	box-sizing border-box
.contact-us-block__title
	color #fff
	text-align center
	padding-bottom 30px
.contact-us
	display flex
	font-size 1.125rem
	color #fff
.contact-us__left
	flex-basis 50%
	width 50%
	padding-left 300px
	box-sizing border-box
.contact-us__right
	flex-basis 50%
	width 50%
.contact-us__phone
	margin-bottom 20px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 28px
		height 28px
		margin-right 15px
		background-image url(icons/contact-us__phone.png)
		background-repeat no-repeat
		background-size contain
.contact-us__time
	margin-bottom 20px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 28px
		height 28px
		margin-right 15px
		background-image url(icons/contact-us__time.png)
		background-repeat no-repeat
		background-size contain
.contact-us__mail
	margin-bottom 20px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 28px
		height 28px
		margin-right 15px
		background-image url(icons/contact-us__mail.png)
		background-repeat no-repeat
		background-size contain
.contact-us__map
	margin-bottom 20px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 28px
		height 28px
		margin-right 10px
		background-image url(icons/contact-us__map.png)
		background-repeat no-repeat
		background-size contain
.contact-us__map-link
	color #fff
	border-bottom 1px dotted #fff
	&:hover
		border-color #ff7100
.contact-us__recv
	margin-bottom 20px
	&:before
		content ""
		position relative
		display inline-block
		vertical-align middle
		width 28px
		height 28px
		margin-right 15px
		background-image url(icons/contact-us__recv.png)
		background-repeat no-repeat
		background-size contain
.contact-us__recv-link
	color #fff
	border-bottom 1px dotted #fff
	&:hover
		border-color #ff7100







/* ------------- Подвал ------------- */
.footer-block
	padding 20px
	box-sizing border-box
	padding-top 40px
	background #f6f8fb
.footer
	display flex
	margin-bottom 40px
	font-size 0.875rem
.footer__logo
	flex-basis 25%
	margin-top 10px
	background-image url(icons/main-logo.svg)
	background-repeat no-repeat
	background-size contain
	width 255px
	height 60px
.footer__copyrights
	flex-basis 25%
	font-size 0.875rem
.footer__contacts
	flex-basis 25%
.footer__phone
	margin-bottom 5px
.footer__phone-link
	font-size 1.125rem
	font-weight bold
	border-bottom none
	line-height 1
.footer_mail
	margin-bottom 5px
.footer__mail-link
	color #0690d1
	border-bottom none
.footer__adress
	margin-top 5px
.footer__rights
	flex-basis 25%
.footer__partners
	font-size 1rem
	margin-top -5px
.footer__partners-link
	color #0081ba
	font-weight bold
	border-bottom 1px dotted #0081ba
	&:hover
		border-color #ff7100
.footer__developer
	margin-top 20px
.footer__developer-link
	color #0081ba
	border-bottom none
	&:hover
		border-color #ff7100
.creditals
	border-top 1px solid #ebebeb
	padding 20px
	box-sizing border-box
	color #999999
	font-size 0.8125rem


/* ------------- Блок фильтра ------------- */

.filter-block
	background url(images/wall-pattern.png)
	position relative
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	margin-top -30px
.filter-info__title
	text-align center
	color #31475d
	padding-top 30px
	margin-bottom 20px
.filter-info__subtitle
	text-align center
	margin-bottom 20px


/* ------------- Крошки ------------- */

.breadcrumbs
	padding 20px
	box-sizing border-box
	padding-top 80px
	padding-bottom 80px
	text-align center
.breadcrumbs__item
	list-style-type none
	display inline-block
	margin-left 5px
	margin-right 5px
	&:after
		content "/"
		display inline-block
		margin-left 15px
	&:last-child
		&:after
			content ""
.breadcrumbs__link
	border-bottom none

/* ------------- Заголовок комплекса ------------- */


.complex-info
	padding 20px
	padding-bottom 40px
	box-sizing border-box
	text-align center
	margin-top -60px
.complex-info__title
	color #ff7100
.complex-info__link
	font-weight bold
	border-bottom 1px dotted $headblue
	margin-top 30px
	display inline-block
	&:hover
		border-bottom 1px dotted #ff7100


/* ------------- Инфо по квартирам в комплексе ------------- */

.flats-summary-block
	padding 20px
	padding-top 0px
	box-sizing border-box
.flats-summary
	text-align center
	padding-bottom 50px
	margin-top 30px
	border-top 1px solid #ebebeb
	border-bottom 1px solid #ebebeb
.flats-summary__title
	margin-top 30px
	margin-bottom 20px
	font-size 1.75rem
.flats-summary__item
	display inline-block
	list-style-type none
	margin-left 10px
	margin-right 10px
	margin-bottom 10px
	font-size 0.9375rem
.flats-summary__link
	font-weight bold
	border-bottom 1px dotted $headblue
	&:hover
		border-bottom 1px dotted #ff7100


/* ------------- Контент комплекса ------------- */
.complex-content
	padding 20px
	box-sizing border-box

.connected-carousels .stage {
    width: 550px;
    position: relative;
	margin-top: -5px;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 550px;
    margin: 20px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 400px;
    border: 10px solid #fff;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 90px;
    width: 550px;
    background: #fff;
    border: 10px solid #fff;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 5px solid #fff;
	height: 80px;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 305px;
    height: 410px;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
	border: none;
}

.connected-carousels .next-stage {
    right: 0;
	border: none;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
    left: -15px;
    top: 22px;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: -15px;
    top: 22px;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}

.complex-content-info
	display flex
.complex-content-info-left
	flex-basis 50%
.complex-content-info-right
	flex-basis 50%
.complex-content-info__title
	font-size 1.375rem
	margin-top 0
.complex-content-info__button
	background #ff7100
	border none
	color #fff
	padding 15px 25px
	border-radius 3px
	text-transform uppercase
	font-weight bold
	font-size 0.9375rem
	text-align center
	cursor pointer
	margin-top 10px
	&:hover
		background #fe811e
.complex-content-info-list
	margin-top 30px
.complex-content-info-list__item
	display flex
	padding-bottom 8px
	margin-bottom 8px
	border-bottom 1px solid #ebebeb
.complex-content-info-list__label
	flex-basis 50%
	font-size 0.9375rem
.complex-content-info-list__text
	flex-basis 50%
	font-size 0.9375rem
.complex-content-info-list__text
	span
		background #ebebeb
		padding 3px 8px
		border-radius 2px
		margin-right 10px
.complex-content-info__map-link
	font-weight bold
	color #0081ba
	border-bottom 1px dotted #0081ba
	margin-top 15px
	display inline-block



/* ------------- Модалы ------------- */

.scrolltop__button
	position fixed
	background #ff7100
	display none
	z-index 100000
	right 0
	bottom 80px
	border none
	color #fff
	padding 25px
	border-radius 10px 0 0 10px
	text-transform uppercase
	font-weight 300
	font-size 0.825rem
	text-align center
.scrolltop__button img
	display block
	margin 0 auto
	margin-bottom 10px
.screen-cover
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background rgba(0,0,0,0.5)
	z-index 100000000
	transition-duration .9s
.form__close
	width 21px
	height 21px
	position absolute
	top 30px
	right 30px
	cursor pointer
	background url(icons/form-close.png)
	background-repeat no-repeat
	background-size contain
	opacity 0.6
	&:hover
		opacity 1
.novalid
	border 1px solid red
.adaptive-menu-burger
	display none
	width 30px
	height 30px
	background url(icons/menu-burger.svg)
	background-size contain
	background-repeat no-repeat
	position absolute
	top 20px
	right 20px
	cursor pointer
.adaptive-menu
	display none
	position absolute
	padding 30px
	box-sizing border-box
	text-align center
	top 0
	left 0
	width 100%
	height 100%
	background #31475D
	z-index 100
.adaptive-menu__item
	margin-bottom 15px
.adaptive-menu__link
	font-size 1.25rem
	color #fff
	border-bottom none

/* ------------- Шаговая форма ------------- */

.main-search-form
	display none
	background #f8fcff
	padding 30px
	box-sizing border-box
	position absolute
	top 0
	left 0
	right 0
	margin auto
	width 100%
	max-width 910px
	height 700px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.main-search-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.main-search-form__steps
	font-size 1.375rem
	font-weight bold
	color #ff5910
	text-align center
	margin-top -10px
.main-search-form__title
	color #31475d
	font-size 2.25rem
	text-align center
	margin-top 8vh
	margin-bottom 40px
.main-search-form__title-screen-2
	margin-top 8vh
.main-search-form__title-screen-3
	margin-top 8vh
.main-search-form__title-screen-4
	margin-top 8vh
.main-search-form__title-screen-5
	margin-top 30px
	margin-bottom 160px
.main-search-form__title-screen-6
	margin-top 8vh
.main-search-form__screen
	margin-top 2vh
.main-search-form__screen.invisible
	display none
.invisible
	display none
.main-search-form__checkboxes
	display flex
	width 70%
	margin 0 auto
	margin-top 5vh
.main-search-form__checkboxes-left
	flex-basis 50%
.main-search-form__checkboxes-right
	flex-basis 50%
.main-search-form__label
	font-size 0.9375rem
	display block
	vertical-align middle
	cursor pointer
	padding-left 15px
	margin-bottom 20px

input[type="checkbox"]
	display none
input[type="checkbox"] + label
	&:before
		content ""
		display inline-block
		vertical-align middle
		width 25px
		height 25px
		border 1px solid #ebebeb
		margin-right 10px
		margin-top -2px
		background #fff
input[type="checkbox"]
	&:checked + label
		&:before
			background #fff url(icons/checkbox.png)
			background-repeat no-repeat
.main-search-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 40px
	&:hover
		background #fe6f31
.main-search-form__button_prev
	font-size 0.875rem
	font-weight bold
	background transparent
	border none
	&:before
		content ""
		display inline-block
		border none
		width 13px
		height 23px
		background url(icons/prev-step.png)
		background-repeat no-repeat
		background-size contain
		margin-right 20px
		vertical-align middle
.main-search-form__button_prev span
	border-bottom 1px dotted #000
	padding-bottom 1px
.main-search-form__subinfo
	text-align center
	margin-top 50px
.main-search-form__room-checkboxes
	text-align center
	margin-bottom 40px
.main-search-form__room-checkboxes li
	display inline-block
	padding 10px
.main-search-form__room-label
	width 60px
	height 60px
	display block
	box-sizing border-box
	vertical-align top
	background #fff
	border 3px solid #ebebeb
	font-size 1.5rem
	text-align center
	line-height 54px
	cursor pointer
	color #31475d

input[type="checkbox"].main-search-form__room-checkbox + label
	&:before
		content ""
		opacity 0
		display none
input[type="checkbox"].main-search-form__room-checkbox
	&:checked + label
		background #ff5910
		border-color #ff5910
		color #fff
.main-search-form__buttons
	display flex
	width 70%
	left 0
	right 0
	bottom 70px
	margin auto
	margin-top 30px

.main-search-form__button_prev
	margin-top 40px
	margin-right 100px
	margin-left 30px
.main-search-form__input-title
	font-size 1.375rem
	font-weight bold
	color #ff5910
	display block
	text-align left
	margin-left 50px
	margin-bottom 5px
input.main-search-form__input-square
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1.25rem
	border-radius 3px
	width 200px
	font-family 'Open Sans'
	margin-bottom 20px
.main-search-form__input-price
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1.25rem
	border-radius 3px
	font-family 'Open Sans'
	width 200px
.main-search-form__title-screen-3 li
	width 300px
	margin 0 auto
	display block
	box-sizing border-box
.main-search-form__title-screen-3 ul
	margin-top 30px
.main-search-form__input-prefixes
	font-size 1.25rem
	padding 5px
	padding-left 10px
	display inline-block
.main-search-form__title-screen-4 ul
	text-align left
	width 250px
	margin 0 auto
	margin-top 80px
	margin-bottom 50px
.main-search-form__screen-6 ul
	text-align left
	width 320px
	margin 0 auto
	margin-top 50px
	margin-bottom 50px
.main-search-form__wait
	display block
	width 44px
	height 54px
	margin 0 auto
	margin-top 200px
	background url(icons/main-search-form__wait.png)
	background-repeat no-repeat
	background-size contain

.main-search-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.main-search-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.main-search-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	margin-top 5px
	margin-bottom 20px
.main-search-form__screen-6 .main-search-form__description
	margin-top -30px


/* ------------- Форма - получение планировок квартир в наличии ------------- */

.get-plans-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 100%
	box-sizing border-box
	max-width 850px
	height 760px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-plans-form__description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 30px
.get-plans-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 60px
.get-plans-form__title
	color #31475d
	font-size 1.875rem
	line-height 1.2
	font-weight bold
	text-align center
	margin-top 30px
	margin-bottom 40px
.get-plans-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	margin-bottom 20px
	font-family 'Open Sans'
.get-plans-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-plans-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	margin-top 5px
	margin-bottom 20px
.get-plans-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 50px
	margin-bottom 50px
.get-plans-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	&:hover
		background #fe6f31
.get-plans-form__room-checkboxes
	text-align center
	margin-top 30px
.get-plans-form__room-checkboxes li
	display inline-block
	padding 10px
.get-plans-form__room-label
	width 60px
	height 60px
	display block
	box-sizing border-box
	vertical-align top
	background #fff
	border 3px solid #ebebeb
	font-size 1.5rem
	text-align center
	line-height 54px
	cursor pointer
	color #31475d

input[type="checkbox"].get-plans-form__room-checkbox + label
	&:before
		content ""
		opacity 0
		display none
input[type="checkbox"].get-plans-form__room-checkbox
	&:checked + label
		background #ff5910
		border-color #ff5910
		color #fff

/* ------------- Форма - узнать подробности про налоговый вычет и экономию ------------- */

.nalog-economy-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 100%
	max-width 850px
	box-sizing border-box
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.nalog-economy-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.nalog-economy-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 40px
.nalog-economy-form__title
	color #31475d
	font-size 1rem
	text-align center
	width 70%
	margin 0 auto
	margin-top 30px
	margin-bottom 40px
.nalog-economy-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.nalog-economy-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 80px
	margin-bottom 50px
.nalog-economy-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	&:hover
		background #fe6f31



/* ------------- Форма - подборка эксклюзивных предложений от застройщиков ------------- */

.exclusive-offers-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	box-sizing border-box
	width 100%
	max-width 850px
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.exclusive-offers-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.exclusive-offers-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 60px
.exclusive-offers-form__title
	color #31475d
	font-size 1.625rem
	text-align center
	margin-top 30px
	margin-bottom 40px
.exclusive-offers-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.exclusive-offers-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.exclusive-offers-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	margin-top 5px
	margin-bottom 20px
.exclusive-offers-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 100px
	margin-bottom 50px
.exclusive-offers-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	margin-bottom 50px
	&:hover
		background #fe6f31



/* ------------- Форма - запись на экскурсию ------------- */

.get-excursion-form
	display none
	background url(images/get-excursion-form.png)
	background-position center center
	background-size cover
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	box-sizing border-box
	margin auto
	width 100%
	max-width 850px
	height 640px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-excursion-form__description
	text-align center
	color #fff
	font-size 1.25rem
.get-excursion-form__sub-description
	text-align center
	color #fff
	font-size 1.25rem
	margin-top 60px
.get-excursion-form__title
	color #fff
	font-size 1.625rem
	text-align center
	margin-top 10vh
	margin-bottom 0px
.get-excursion-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-excursion-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-excursion-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	color #fff
	margin-top 5px
	margin-bottom 20px
.get-excursion-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 100px
	margin-bottom 50px
.get-excursion-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 60px
	&:hover
		background #fe6f31
.get-excursion-form__sub-description
	text-align center
	color #fff
	font-size 1.25rem
	margin-top 60px



/* ------------- Форма - запрос ставок по ипотеке ------------- */

.get-credit-rates-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 100%
	max-width 850px
	height 600px
	box-sizing border-box
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-credit-rates-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.get-credit-rates-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 60px
.get-credit-rates-form__title
	color #31475d
	font-size 1.625rem
	text-align center
	margin-top 30px
	margin-bottom 40px
.get-credit-rates-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-credit-rates-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-credit-rates-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	margin-top 5px
	margin-bottom 20px
.get-credit-rates-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 100px
	margin-bottom 50px
.get-credit-rates-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	&:hover
		background #fe6f31

/* ------------- Форма - запрос ставок по ипотеке ------------- */

.get-gift-form_var-1
	display none
	background #f8fcff url(images/gift-sert.png)
	background-repeat no-repeat
	background-position center 20px
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	margin auto
	width 100%
	max-width 1024px
	overflow hidden
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-gift-form_var-2
	display none
	background #f8fcff url(images/gift-sert.png)
	background-repeat no-repeat
	background-position center 20px
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	margin auto
	width 100%
	max-width 1024px
	overflow hidden
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-gift-form_var-3
	display none
	background #f8fcff url(images/gift-sert.png)
	background-repeat no-repeat
	background-position center 20px
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	margin auto
	width 100%
	max-width 1024px
	overflow hidden
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-gift-form__description
	text-align center
	font-size 2.0625rem
	color #ff5910
	width 80%
	margin 0 auto
	font-weight bold
.get-gift-form__sub-description
	text-align center
	color #31475d
	font-size 1rem
	margin-top -20px
.get-gift-form__title
	color #31475d
	font-size 1.25rem
	font-weight bold
	text-align center
	margin-top 10px
	margin-bottom 10px
.get-gift-form__input-name
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 100%
	margin-bottom 20px
	font-family 'Open Sans'
.get-gift-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 100%
	margin-bottom 20px
	font-family 'Open Sans'
.get-gift-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 100%
	font-family 'Open Sans'
.get-gift-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	margin-top 5px
	margin-bottom 20px
.get-gift-form-content
	text-align left
	width 80%
	margin 0 auto
	margin-top 30px
	margin-bottom 10px
.get-gift-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 0px
	&:hover
		background #fe6f31
.get-gift-form__wait
	background #f8fcff
	position absolute
	width 100%
	margin-top -40px
	margin-left -30px
	height 100%
	z-index 1000
.get-gift-form__wait-icon
	display block
	width 44px
	height 54px
	margin 0 auto
	margin-top 250px
	background url(icons/main-search-form__wait.png)
	background-repeat no-repeat
	background-size contain
.get-gift-form__title_wait
	color #31475d
	font-size 1.625rem
	text-align center
	margin-top 30px
	margin-bottom 40px
.get-gift-form__gift-list
	margin-top 20px
.get-gift-form__gift-list ul
	display flex
	flex-wrap wrap
	max-width 1024px
	margin 0 auto
.get-gift-form__gift-list ul li
	flex-basis 33.33333%
	font-size 0.9375rem
	padding 10px
	margin-bottom 0
	box-sizing border-box
	&:before
		content ""
		display inline-block
		vertical-align middle
		margin-right 5px
		margin-top -2px
		width 20px
		height 20px
		background url(icons/checkbox.png)
		background-repeat no-repeat
		background-size contain
.get-gift-form__gift-inputs ul
	width 100%
	text-align center
	max-width 1024px
	margin-top -10px
.get-gift-form__gift-inputs ul li
	margin 10px
	display inline-block
.get-gift-form__gift-list span
	text-align center
	display block
	margin-top 30px
	margin-bottom 30px
	color #31475d
	font-size 1.75rem
	line-height 1.2
	font-weight bold
.get-gift-form__gift-rules
	font-size 0.825rem
	text-align center
	max-width 80%
	margin 0 auto
	margin-top 20px




/* ------------- Форма - подборка эксклюзивных предложений от застройщиков ------------- */

.get-offer-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 100%
	max-width 850px
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-offer-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.get-offer-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 60px
.get-offer-form__title
	color #31475d
	font-size 1.625rem
	text-align center
	margin-top 30px
	margin-bottom 40px
.get-offer-form__input-mail
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-offer-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-offer-form__input-subfixes
	font-size 0.8125rem
	display block
	text-align left
	margin-top 5px
	margin-bottom 20px
.get-offer-form-content
	text-align left
	width 80%
	margin 0 auto
	margin-top 100px
	margin-bottom 50px
.get-offer-form-content ul
	width 320px
	margin 0 auto
.get-offer-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	&:hover
		background #fe6f31




/* ------------- Форма - Форма - партнерство с застройщиками ------------- */

.get-partnership-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	box-sizing border-box
	margin auto
	width 100%
	max-width 850px
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-partnership-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.get-partnership-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 60px
.get-partnership-form__title
	color #31475d
	font-size 1rem
	text-align center
	width 70%
	margin 0 auto
	margin-top 30px
	margin-bottom 40px
.get-partnership-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-partnership-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 80px
	margin-bottom 50px
.get-partnership-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	&:hover
		background #fe6f31

/* ------------- Форма - партнерство индивидуальное ------------- */

.get-individual-partnership-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 100%
	max-width 850px
	height 600px
	z-index 1000000000
	box-sizing border-box
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.get-individual-partnership-form__description
	text-align center
	color #31475d
	font-size 1.25rem
.get-individual-partnership-form__sub-description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-top 60px
.get-individual-partnership-form__title
	color #31475d
	font-size 1rem
	text-align center
	width 70%
	margin 0 auto
	margin-top 30px
	margin-bottom 40px
.get-individual-partnership-form__input-phone
	background #fff
	border 1px solid #ccc
	padding 10px
	font-size 1rem
	border-radius 3px
	width 320px
	font-family 'Open Sans'
.get-individual-partnership-form-content
	text-align left
	width 320px
	margin 0 auto
	margin-top 80px
	margin-bottom 50px
.get-individual-partnership-form__button
	font-size 0.875rem
	text-transform uppercase
	font-weight bold
	display block
	color #fff
	background #ff5910
	padding 15px
	border none
	border-radius 3px
	border-bottom 2px solid #c15906
	text-align center
	width 230px
	margin 0 auto
	margin-top 80px
	&:hover
		background #fe6f31



/* ------------- Форма - реквизиты ------------- */

.show-recvisits-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 100%
	max-width 300px
	height 130px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)



/* ------------- Форма - успешная отправка ------------- */
.success-form
	display none
	background #f8fcff
	padding 30px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	box-sizing border-box
	margin auto
	width 100%
	max-width 850px
	height 600px
	z-index 1000000000
	box-shadow 0px 10px 30px 15px rgba(0,0,0,0.05)
	transition-duration .3s
.success-form__description
	text-align center
	color #31475d
	font-size 1.25rem
	margin-bottom 80px
.success-form__title
	color #31475d
	font-size 1.625rem
	text-align center
	margin-top 80px
	margin-bottom 20px

















